<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Chart JS Examples - Bracket Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css 
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="../lib/highlightjs/github.css" rel="stylesheet">

    <!-- Bracket CSS 
    <link rel="stylesheet" href="../css/bracket.css"> -->
	
	
	
	<!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/highlightjs/github.css')}}" rel="stylesheet">

	
    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_css.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/cust1.css')}}">
	
	
  </head>

  <body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span>[</span>Customer Logo<span>]</span></a></div>
  <div class="br-sideleft overflow-y-auto">
    <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
    <div class="br-sideleft-menu">
      <a href="table-datatable3.html" class="br-menu-link">
        <div class="br-menu-item">
          <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>          
          <span class="menu-item-label">All Projects</span>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
     
      <a href="live1.html" class="br-menu-link ">
        <div class="br-menu-item">
          <i class="menu-item-icon icon ion-pie-graph tx-24"></i>
          <span class="menu-item-label">Compressor Test</span>
          <i class="menu-item-arrow fa fa-angle-down"></i>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
      <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="live1.html" class="nav-link">Test1</a></li>
        <li class="nav-item"><a href="live1.html" class="nav-link">Test2</a></li>
        <li class="nav-item"><a href="live1.html" class="nav-link active">Test3</a></li>
        <li class="nav-item"><a href="live1.html" class="nav-link ">Create New <i class=" fa fa-plus "></i></a></li>
        
      </ul>




      <a href="dashboard.html" class="br-menu-link active show-sub">
        <div class="br-menu-item">
          <i class="menu-item-icon icon ion-stats-bars tx-24"></i>
          <span class="menu-item-label">Analytics</span>
          <i class="menu-item-arrow fa fa-angle-down"></i>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
      <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="dashboard.html" class="nav-link">Dashboard</a></li>
        <li class="nav-item"><a href="testbed1.html" class="nav-link ">Digital Twin</a></li>
        <li class="nav-item"><a href="cal_cert.html" class="nav-link active">Calibration Certificate</a></li>
        <li class="nav-item"><a href="r_table.html" class="nav-link">Recommendation</a></li>
        <li class="nav-item"><a href="model.html" class="nav-link">Model</a></li>
        
      </ul>
      <a href="profile.html" class="br-menu-link">
        <div class="br-menu-item">
          <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
          <span class="menu-item-label">Profile Setting</span>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->


      <a href="contact.html" class="br-menu-link">
        <div class="br-menu-item">
          <i class="menu-item-icon fa fa-phone  fa-2x tx-20"></i>
          <span class="menu-item-label">Contact Us</span>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
      
      
      
      
      
     

    </div>
  </div><!-- br-sideleft -->




    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        
      </div><!-- br-header-left -->
      <!--div right side bar-->
      <div class="br-header-right">
      <div class="dropdown">
        <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
          <span class="logged-name hidden-md-down" id="user"></span>
          <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
          <span class="square-10 bg-success"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-header wd-200">
          <ul class="list-unstyled user-profile-nav">
            <li><a href=""><i class="icon ion-ios-person"></i> Edit Profile</a></li>
           
            <li><a href="login.html"><i class="icon ion-power"></i> Sign Out</a></li>
          </ul>
        </div><!-- dropdown-menu -->
      </div><!-- dropdown -->
     </div>
      <!--div right side end here-->
    
    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->
  
    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
        <div class="br-pageheader  pd-l-20">
   
          </div><!-- br-pageheader end  -->
         
            
                  
    <div class="br-pagebody">        
        <div class="card">
  
            <div class="card-body">
                <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">CALIBIRATION CERTIFICATES</h6>                  
                    <div class="table-wrapper" >
            <table id="datatable1" class="table display responsive nowrap">
              <thead class='thead-colored thead-dark'>
                <tr>
                  <th >Sensor ID</th>
                  <th >Calibration Certificate</th>
				 </tr>
              </thead>
              <tbody>
			    <tr>
                  <td>Differential Pressure Tranmitter</td>
                  <td><a href="https://drive.google.com/file/d/1bQapcux55XvmPVSL-4NVwFGwrJL-yLWE/view?usp=sharing">Click to  View</a> </td>
                  
                </tr>
				<tr>
                  <td>Differential Pressure Tranmitter</td>
                  <td><a href="https://drive.google.com/file/d/1BAATFq5J8Ib_EyHoGqAZCoTa7_Cf2WF_/view?usp=sharing">Click to  View</a> </td>
                  
                </tr>
                </tbody>
				</table>
                   
                  

            </div> 
         </div>  <!--end card code here-->
      </div>
</div>	  
  </div><!-- br-mainpanel -->
  
  <div id="modal123" class="modal fade">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                              <div class="modal-header pd-y-20 pd-x-25 bg-warning">
                                  <h6 class="tx-14 mg-b-0 tx-uppercase  tx-bold tx-dark">Calibration Certificates</h6>
                                  <button type="button" class="close tx-danger tx-30" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                            <div class="modal-body pd-0">
                              <div class="row no-gutters">
                                <div class="col-lg-12 bg-light ">
                                  <div class="pd-40">
                                    
                                      <p class="tx-dark">Calibration Certificates of all sensors are added to the software.Alerts are provided 1 month before calibration due date.</p>
                                      
                                    <button type="button" class="btn btn-primary tx-size-xs" data-dismiss="modal">Proceed</button>
                    
                                    </div>
                                  </div><!-- col-6 -->
                                  
                                </div><!-- row -->
                    
                              </div><!-- modal-body -->
                            </div><!-- modal-content -->
                          </div><!-- modal-dialog -->
                        </div><!-- modal -->
  
  
    <!-- ########## END: MAIN PANEL ########## -->

    <!-- <script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../lib/moment/moment.js"></script>
    <script src="../lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="../lib/peity/jquery.peity.js"></script>
    <script src="../lib/highlightjs/highlight.pack.js"></script>
    <script src="../lib/chart.js/Chart.js"></script>

    <script src="../js/bracket.js"></script>
    <script src="../js/chart.chartjs.js"></script> -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	
	<script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/highlightjs/highlight.pack.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/chart.js/Chart.js')}}"></script>

	<script src="{{ url_for('static', filename='js/bracket.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chart.chartjs.js')}}"></script>

	
	
    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>                  
    
	
	
	
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    
	<script>
	$(window).on('load',function(){
        $('#modal123').modal('show');
    });

       str1="Hi, user!";
       document.getElementById("user").innerHTML=str1;
      </script>
   </body>
</html>
