<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Bracket Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">

    <!-- Bracket CSS 
    <link rel="stylesheet" href="../css/bracket.css"> -->
	
	<!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_css.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/cust1.css')}}">
	
	
	
  </head>

  <body>

    <div class="br-logo"><a href=""><span>[</span>Customer Logo<span>]</span></a></div>
  <div class="br-sideleft overflow-y-auto">
    <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
    <div class="br-sideleft-menu">
      <a href="table-datatable3.html" class="br-menu-link">
        <div class="br-menu-item">
          <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>          
          <span class="menu-item-label">All Projects</span>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
     
      <a href="live1.html" class="br-menu-link ">
        <div class="br-menu-item">
          <i class="menu-item-icon icon ion-pie-graph tx-24"></i>
          <span class="menu-item-label">Compressor Test</span>
          <i class="menu-item-arrow fa fa-angle-down"></i>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
      <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="live1.html" class="nav-link">Test1</a></li>
        <li class="nav-item"><a href="live1.html" class="nav-link">Test2</a></li>
        <li class="nav-item"><a href="live1.html" class="nav-link active">Test3</a></li>
        <li class="nav-item"><a href="live1.html" class="nav-link ">Create New <i class=" fa fa-plus "></i></a></li>
        
      </ul>




      <a href="dashboard.html" class="br-menu-link">
        <div class="br-menu-item">
          <i class="menu-item-icon icon ion-stats-bars tx-24"></i>
          <span class="menu-item-label">Analytics</span>
          <i class="menu-item-arrow fa fa-angle-down"></i>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
      <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="dashboard.html" class="nav-link">Dashboard</a></li>
        <li class="nav-item"><a href="testbed1.html" class="nav-link ">Digital Twin</a></li>
        <li class="nav-item"><a href="cal_cert.html" class="nav-link ">Calibration Certificate</a></li>
        <li class="nav-item"><a href="r_table.html" class="nav-link">Recommendation</a></li>
        <li class="nav-item"><a href="model.html" class="nav-link">Model</a></li>
        
      </ul>
      <a href="profile.html" class="br-menu-link">
        <div class="br-menu-item">
          <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
          <span class="menu-item-label">Profile Setting</span>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->


      <a href="contact.html" class="br-menu-link active">
        <div class="br-menu-item">
          <i class="menu-item-icon fa fa-phone  fa-2x tx-20"></i>
          <span class="menu-item-label">Contact Us</span>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
      
      
      
      
      
     

    </div>
  </div><!-- br-sideleft -->
      <!-- ########## END: LEFT PANEL ########## -->
  
      <!-- ########## START: HEAD PANEL ########## -->
      <div class="br-header">
        <div class="br-header-left">
          <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
          <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
          
        </div><!-- br-header-left -->
        <div class="br-header-right">
          <div class="dropdown">
            <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
              <span class="logged-name hidden-md-down" id="user"></span>
              <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
              <span class="square-10 bg-success"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-header wd-200">
              <ul class="list-unstyled user-profile-nav">
              
               
                <li><a href="login.html"><i class="icon ion-power"></i> Sign Out</a></li>
              </ul>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
         </div>   
      </div><!-- br-header -->
   
   
   
   
    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
      <div class="br-pageheader  pd-l-20">
        
      </div><!-- br-pageheader -->
     

      <div class="br-pagebody">

        <!-- start you own content here -->

      <!-- br-pagebody -->

     <div class="br-section-wrapper bg-white">

             <!--Section: Contact v.2-->


    <!--Section heading-->
    <h6 class="tx-gray-800 tx-uppercase tx-bold tx-18 mg-b-10">CONTACT DETAIL</h6>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="tx-gray-800">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="tx-gray-800">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="tx-gray-800">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message" class="tx-gray-800">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a href="" class="btn btn-primary btn-with-icon">
                    <div class="ht-40 justify-content-between">
                      <span class="pd-x-15 ">Send Message</span>
                      <span class="icon wd-40"><i class="fa fa-send"></i></span>
                    </div>
                  </a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                

                <li><i class="fa fa-phone mt-4 fa-2x"></i>
                    <p class="tx-gray-800">+91 9922998220</p>
                </li>

                <li><i class="fa fa-envelope mt-4 fa-2x"></i>
                    <p class="tx-gray-800">cyronics@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>


<!--Section: Contact v.2-->



      </div>
      </div>
      
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->

    <!-- <script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../lib/moment/moment.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="../lib/peity/jquery.peity.js"></script>

    <script src="../js/bracket.js"></script> -->
	
	
	<script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>

    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>   
	
    <script>
       str1="Hi, user!";
       document.getElementById("user").innerHTML=str1;
      </script>
  </body>
</html>
