<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Bracket Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css 
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">

    <!-- Bracket CSS 
    <link rel="stylesheet" href="../css/bracket.css">
	<link rel="stylesheet" href="../css/custom_css.css"> -->
	
	<!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_css.css')}}">
	

	
	
  </head>

  <body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span>[</span>Customer Logo<span>]</span></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
      <div class="br-sideleft-menu">
        <a href="table-datatable3.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>          
            <span class="menu-item-label">All Projects</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
       
        <a href="live1.html" class="br-menu-link ">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-pie-graph tx-24"></i>
            <span class="menu-item-label">Compressor Test</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="live1.html" class="nav-link ">Test1</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link">Test2</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link active">Test3</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link ">Create New <i class=" fa fa-plus "></i></a></li>
          
        </ul>
  
  
  
  
        <a href="dashboard.html" class="br-menu-link active show-sub">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-stats-bars tx-24"></i>
            <span class="menu-item-label">Analytics</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="dashboard.html" class="nav-link active">Dashboard</a></li>
          <li class="nav-item"><a href="testbed1.html" class="nav-link ">Digital Twin</a></li>
          <li class="nav-item"><a href="cal_cert.html" class="nav-link ">Calibration Certificate</a></li>
          <li class="nav-item"><a href="r_table.html" class="nav-link">Recommendation</a></li>
          <li class="nav-item"><a href="model.html" class="nav-link">Model</a></li>
          
        </ul>
        <a href="profile.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
            <span class="menu-item-label">Profile Setting</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
  
  
        <a href="contact.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon fa fa-phone  fa-2x tx-20"></i>
            <span class="menu-item-label">Contact Us</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        
        
        
        
        
       
  
      </div>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu"  href=""><i class="icon ion-navicon-round" ></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile"  href=""><i class="icon ion-navicon-round" ></i></a></div>
       
      </div><!-- br-header-left -->
      <div class="br-header-right">
        <div class="dropdown">
          <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
            <span class="logged-name hidden-md-down" id="user"></span>
            <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
            <span class="square-10 bg-success"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-200">
            <ul class="list-unstyled user-profile-nav">
            
             
              <li><a href="login.html"><i class="icon ion-power"></i> Sign Out</a></li>
            </ul>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
       </div>
     
    </div><!-- br-sideright -->
    <!-- ########## END: RIGHT PANEL ########## --->

    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
	<div class="ht-1 bd bg-gray-100 pd-x-15 d-flex align-items-center justify-content-between mg-t-20">
    </div><!-- ht-65 -->

      <div class="br-pagebody">
		<div class="br-section-wrapper">
		<div class='pd-b-10'>
		<h6 class="tx-gray-800 tx-uppercase tx-bold tx-14"><b>DASHBOARD</b></h6></div>
		<div class="row">
		<div class='col-lg-7 col-md-12 border pd-5 '>
            <div><h6>Production</h6><hr>
           <div id="container" style="height: 320px"></div>
        </div>		
		</div><!--br-section-wrapper-->
		<div class='col-lg-5 col-md-12 border pd-5 '>
            <div><h6>First Time Report</h6><hr>
           <div id="container1" style="height: 320px"></div>
           </div>
		</div><!--br-section-wrapper-->
		</div>&nbsp;
		
		<div class="row">
		<div class='col-lg-5 col-md-12 border pd-5 '>
            <div><h6>Down Time Reasons</h6><hr>
           <div id="container2" style="height: 320px"></div>
           </div>		
		</div><!--br-section-wrapper-->
		<div class='col-lg-7 col-md-12 border pd-5 '>
            <div><h6 class="pd-2">TestBed Capacity Utilization</h6><hr>
           <div id="container3" style="height: 320px"></div>
        </div>
		</div><!--br-section-wrapper-->
    </div>

		</div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->
  </div>
  <footer class="br-footer">
    <div class="footer-left">
      <div class="mg-b-2">Copyright &copy; 2019.Cyronics. All Rights Reserved.</div>
     
     
    </div>
   
  </footer>
	</div>


    <div id="modaldemo3" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
          <div class="modal-body pd-0">
            <div class="row no-gutters">
              <div class="col-lg-6 bg-warning">
                <div class="pd-40">
                  
                <i class="fa fa-pause-circle tx-70 tx-white lh-1 mg-t-80 d-inline-block"></i>
          <h4 class="tx-white mg-b-20">Reason for Pause. Please select the department according to reason </h4>
          
        
                  
                 
                  </div>
                </div><!-- col-6 -->
                <div class="col-lg-6 bg-white">
                  <div class="pd-30">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="pd-x-30 pd-y-10">
                    <b>Please Select Department :</br></b>
                      <label class="ckbox">
                        <input type="checkbox">
                        <span>Quality</span>
                      </label>
                      <label class="ckbox">
                        <input type="checkbox">
                        <span>Management</span>
                      </label>
                      <label class="ckbox">
                        <input type="checkbox">
                        <span>Misc</span>
                      </label>
                      <label class="ckbox">
                        <input type="checkbox">
                        <span>Alarms</span>
                      </label><label class="ckbox">
                        <input type="checkbox">
                        <span>Testbed error</span>
                      </label>
                                                      
                      <div class="form-group">
                          Reason for pause
                        <input class="form-control ht-100 border-warning" placeholder="Details of pause" type="textarea">
                      </div><!-- form-group -->
                      
                     
                      <button class="btn btn-outline-warning pd-y-12 btn-block">Send for review </button>

                      <div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a></div>
                    </div>
                  </div><!-- pd-20 -->
                </div><!-- col-6 -->
              </div><!-- row -->

            </div><!-- modal-body -->
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->



      <div id="modaldemo4" class="modal fade">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
              <div class="modal-body pd-0">
                <div class="row no-gutters">
                  <div class="col-lg-6 bg-danger">
                    <div class="pd-40">
                      
                    <i class="fa fa-stop-circle tx-70 tx-white lh-1 mg-t-80 d-inline-block"></i>
              <h4 class="tx-white mg-b-20">Reason for stop. Please select the department according to reason </h4>
              
            
                      
                     
                      </div>
                    </div><!-- col-6 -->
                    <div class="col-lg-6 bg-white">
                      <div class="pd-30">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="pd-x-30 pd-y-10">
                        <b>Please Select Department :</br></b>
                          <label class="ckbox">
                            <input type="checkbox">
                            <span>Quality</span>
                          </label>
                          <label class="ckbox">
                            <input type="checkbox">
                            <span>Management</span>
                          </label>
                          <label class="ckbox">
                            <input type="checkbox">
                            <span>Misc</span>
                          </label>
                          <label class="ckbox">
                            <input type="checkbox">
                            <span>Alarms</span>
                          </label><label class="ckbox">
                            <input type="checkbox">
                            <span>Testbed error</span>
                          </label>
                                                          
                          <div class="form-group">
                              Reason for stop
                            <input class="form-control ht-100 border-danger" placeholder="Details of stop" type="textarea">
                          </div><!-- form-group -->
                          
                         
                          <button class="btn btn-outline-danger pd-y-12 btn-block">Send for review </button>
  
                          <div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a></div>
                        </div>
                      </div><!-- pd-20 -->
                    </div><!-- col-6 -->
                  </div><!-- row -->
  
                </div><!-- modal-body -->
              </div><!-- modal-content -->
            </div><!-- modal-dialog -->
          </div><!-- modal -->




          <div id="modaldemo6" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                <div class="modal-body pd-0">
                  <div class="row no-gutters">
                    <div class="col-lg-6 bg-primary">
                      <div class="pd-40">
                        
                        <p class="tx-white tx-13">
                          <span class="tx-uppercase tx-medium d-block mg-b-15"><!--type here--></span>
                                              <h1 class="tx-white">[START TEST]</h1>
                          <span class="op-7 tx-white">Screw Compressor test-bed automation and analytics.</span></p>
                        </div>
                      </div><!-- col-6 -->
                      <div class="col-lg-6 bg-white">
                        <div class="pd-30">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <div class="pd-x-30 pd-y-10">
                            <b><h3 class="tx-inverse  mg-b-5">Welcome back!</h3></b>
                            <p>No active tests Found.Please enter details to continue.</p>
                            <br>
                            <div class="form-group">
                              <input type="text" id="tid"  name="email" class="form-control pd-y-12" placeholder="Enter Test ID" autocomplete="off">
                              <p id="em"></p>
                            </div><!-- form-group -->
                            <div class="form-group">
                              <input type="text" id="con" name="contact" class="form-control pd-y-12" placeholder="Enter QA Incharge">
                              <p id="cont"></p>
                            </div><!-- form-group -->
                            <div class="form-group mg-b-20">
                              <input type="password" id="pass"  name="password" class="form-control pd-y-12" placeholder="Enter Test Incharge">
                              <p id="ps"></p>
                              <!--<a href="" class="tx-12 d-block mg-t-10">Forgot password?</a>-->
                            </div><!-- form-group -->

                            <button class="btn btn-primary pd-y-12 btn-block"  onclick="validate();">START TEST</button>
                           
                            
                          </div>
                        </div><!-- pd-20 -->
                      </div><!-- col-6 -->
                    </div><!-- row -->

                  </div><!-- modal-body -->
                </div><!-- modal-content -->
              </div><!-- modal-dialog -->
            </div><!-- modal -->

        
            <div id="modal123" class="modal fade">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                      <div class="modal-header pd-y-20 pd-x-25 bg-warning">
                          <h6 class="tx-14 mg-b-0 tx-uppercase  tx-bold tx-dark">Dashboard Guide</h6>
                          <button type="button" class="close tx-danger tx-30" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                    <div class="modal-body pd-0">
                      <div class="row no-gutters">
                        <div class="col-lg-12 bg-light ">
                          <div class="pd-40">
                            
                              <p class="tx-dark">1.Dashboards are designed to give an overview of the entire test setup accross all testbeds and models.</p>
                              <p class="tx-dark">2.This particular dashboard contains features such as <b class="tx-danger"><u>First time report generation , testbed capacity utilization</u></b> etc.</p>
                              <p class="tx-dark">3.Automatic mails containing a pdf report of this dashboard are sent to the concerned department.</p>
                              <p class="tx-dark">4.<b class="tx-danger"><u>Customized Dashboards are designed as per user</u></b> requirement.</p>
                              <p class="tx-dark">For next page :</p>
                              <p class="tx-dark">Please click on <font class="tx-primary">Analytics</font> on the left sidebar and then on <font class="tx-primary">Digital Twin</font></p>
                            <button type="button" class="btn btn-primary tx-size-xs" data-dismiss="modal">Proceed</button>
            
                            </div>
                          </div><!-- col-6 -->
                          
                        </div><!-- row -->
            
                      </div><!-- modal-body -->
                    </div><!-- modal-content -->
                  </div><!-- modal-dialog -->
                </div><!-- modal -->

  
  

    <!--<script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../lib/moment/moment.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="../lib/peity/jquery.peity.js"></script>

    <script src="../js/bracket.js"></script>
	
	      <script type="text/javascript" src="echarts_js/echarts.min.js"></script>
       <script type="text/javascript" src="echarts_js/echarts-gl.min.js"></script>
       <script type="text/javascript" src="echarts_js/ecStat.min.js"></script>
       <script type="text/javascript" src="echarts_js/dataTool.min.js"></script>
       <script type="text/javascript" src="echarts_js/china.js"></script>
       <script type="text/javascript" src="echarts_js/world.js"></script>
       <script type="text/javascript" src="echarts_js/bmap.min.js"></script>
       <script type="text/javascript" src="echarts_js/simplex.js"></script> -->

	   
	   
    <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>

    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>                  
    
	<script src="{{ url_for('static', filename='echarts_js/echarts.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/echarts-gl.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/ecStat.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/dataTool.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/china.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/bmap.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/simplex.js')}}"></script>                  
    
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>   
    
<!--*******************************************************id container start*****************************************************-->
<script>

		$(window).on('load',function(){
						 $('#modal123').modal('show');
					  });
							  
		
 var socket = io.connect('http://'+document.domain+":"+location.port);  
		socket.on("receive_json_data1",function(data){

		console.log(data);


       var dom = document.getElementById("container");
       var myChart = echarts.init(dom);
       var app = {};
       option = null;
       option = {

        responsive: true,

           title : {
               text: '',
           },
           tooltip : {
               trigger: 'axis'
           },
           legend: {
               data:['TestBed1','TestBed2']
           },
           toolbox: {
               show : true,
               feature : {
                   
                   magicType : {show: true, type: ['line', 'bar']},
                   
               }
           },
           calculable : true,
           xAxis : [
               {
                   type : 'category',
                   data : ['1','2','3','4','5','6','7','8','9','10','11','12']
               }
           ],
           yAxis : [
               {
                   type : 'value'
               }
           ],
           series : [
               {
                   name:'TestBed1',
                   color: '#05b080',
                   type:'bar',
                   data:data[0].production,
                   markPoint : {
                       data : [
                           {type : 'max', name: 'h1'},
                           {type : 'min', name: 'h2'}
                       ]
                   },
                   markLine : {
                       data : [
                           {type : 'average', name: 'h3'}
                       ]
                   }
               },
               {
                   name:'TestBed2',
                   type:'bar',
                   color: '#4f4b4a',
                   data:data[1].production,
                   markPoint : {
                       data : [
                           {name : 'h4', value : 182.2, xAxis: 7, yAxis: 183},
                           {name : 'h5', value : 2.3, xAxis: 11, yAxis: 3}
                       ]
                   },
                   markLine : {
                       data : [
                           {type : 'average', name : 'h6'}
                       ]
                   }
               }
           ]
       };
       ;
       if (option && typeof option === "object") {
           myChart.setOption(option, true);
       }  		

})	

 
$(document).ready(function(){
        socket.emit("dashboard_data1")
   

    
});	

//$(document).ready(function(){
//    socket.emit("dashboard_data",'null')
//});


</script>

<!--*******************************************************id Container1 Start------------------------------------------------->


<script type="text/javascript">
 var socket = io.connect('http://'+document.domain+":"+location.port);  


socket.on("receive_json_data2",function(data){

		console.log(data);
    var dom = document.getElementById("container1");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    
    option = {
        responsive: true,
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            data:['Fails','Alarms','No Alarms']
        },
        toolbox: {
               show : true,
               feature : {
                   
               }
           },
        series: [
            {
                name:'First Time Report',
                type:'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data:[
                    {value:data['Fails'], name:'Fails'},
                    {value:data['Alarms'], name:'Alarms'},
                    {value:data['No Alarms'], name:'No Alarms'},
                ]
            }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
	});
          
$(document).ready(function(){
        socket.emit("dashboard_data2")
   

    
});	
		  </script>




<!--*****************************************************id container2 START----------------------------------------------------->

<script type="text/javascript">
    var dom = document.getElementById("container2");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        responsive: true,
        title : {
            text: '',
            subtext: '',
            x:''
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['Quality','Management','Misc','Alarms','Testbed Error']
        },
        toolbox: {
               show : true,
               feature : {
                   
               }
           },
        series : [
            {
                name: 'Down Time Reason',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:335, name:'Quality'},
                    {value:310, name:'Management'},
                    {value:234, name:'Misc'},
                    {value:135, name:'Alarms'},
                    {value:1548, name:'TestBed Errors'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
           </script>




 <!--***************************************************id container3 start------------------------------------------------------------------->   
       <script>

       var dom = document.getElementById("container3");
       var myChart = echarts.init(dom);
       var app = {};
       option = null;
       
       option = {
        responsive: true,
           title: {
               text: '',
           },
           tooltip: {
               trigger: 'axis',
               axisPointer: {
                   type: 'shadow'
               }
           },
           legend: {
               data: ['2019', '2020'],
               
           },
           toolbox: {
               show : true,
               feature : {
                   
               }
           },   
           grid: {
               left: '3%',
               right: '4%',
               bottom: '3%',
               containLabel: true
           },
           xAxis: {
               type: 'value',
               boundaryGap: [0, 0.01]
           },
           yAxis: {
               type: 'category',
               data: ['JAN','FEB','MAR','APR','MAY','JUNE']
           },
           series: [
               {
                   name: '2019',
                   type: 'bar',
                   data: [50,40,10,10,40,60],
                   color:'#05b080'
               },
               {
                   name: '2020',
                   type: 'bar',
                   data: [60,10,40,50,40,30],
                   color: '#4f4b4a'
               }
           ]
       };
       ;
       if (option && typeof option === "object") {
           myChart.setOption(option, true);
       }


       str1="Hi, user !";
       document.getElementById("user").innerHTML=str1;
              </script>




	   </body>
</html>
