<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Bracket Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	
	   <script src="{{ url_for('static', filename='js/ej2.min.js')}}" type="text/javascript"></script>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--<link rel="canonical" href="https://ej2.syncfusion.com/javascript/demos/sparkline/live-update">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet">

	
  </head>

  <body class="collapsed-menu with-subleft">

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span>[</span>bracket<span>]</span></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
      <div class="br-sideleft-menu">
        <a href="index.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
            <span class="menu-item-label">Dashboard</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <a href="mailbox.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-email-outline tx-24"></i>
            <span class="menu-item-label">Mailbox</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <a href="card-dashboard.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
            <span class="menu-item-label">Cards &amp; Widgets</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
            <span class="menu-item-label">UI Elements</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="accordion.html" class="nav-link">Accordion</a></li>
          <li class="nav-item"><a href="alerts.html" class="nav-link">Alerts</a></li>
          <li class="nav-item"><a href="buttons.html" class="nav-link">Buttons</a></li>
          <li class="nav-item"><a href="cards.html" class="nav-link">Cards</a></li>
          <li class="nav-item"><a href="icons.html" class="nav-link">Icons</a></li>
          <li class="nav-item"><a href="modal.html" class="nav-link">Modal</a></li>
          <li class="nav-item"><a href="pagination.html" class="nav-link">Pagination</a></li>
          <li class="nav-item"><a href="popups.html" class="nav-link">Tooltip &amp; Popover</a></li>
          <li class="nav-item"><a href="progress.html" class="nav-link">Progress</a></li>
          <li class="nav-item"><a href="spinners.html" class="nav-link">Spinners</a></li>
          <li class="nav-item"><a href="typography.html" class="nav-link">Typography</a></li>
        </ul>
        <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon ion-ios-redo-outline tx-24"></i>
            <span class="menu-item-label">Navigation</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="navigation.html" class="nav-link">Basic Nav</a></li>
          <li class="nav-item"><a href="navigation-layouts.html" class="nav-link">Nav Layouts</a></li>
        </ul>
        <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon ion-ios-pie-outline tx-20"></i>
            <span class="menu-item-label">Charts</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="chart-morris.html" class="nav-link">Morris Charts</a></li>
          <li class="nav-item"><a href="chart-flot.html" class="nav-link">Flot Charts</a></li>
          <li class="nav-item"><a href="chart-chartjs.html" class="nav-link">Chart JS</a></li>
          <li class="nav-item"><a href="chart-rickshaw.html" class="nav-link">Rickshaw</a></li>
          <li class="nav-item"><a href="chart-chartist.html" class="nav-link">Chartist</a></li>
          <li class="nav-item"><a href="chart-sparkline.html" class="nav-link">Sparkline</a></li>
          <li class="nav-item"><a href="chart-peity.html" class="nav-link">Peity</a></li>
        </ul>
        <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
            <span class="menu-item-label">Forms</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="form-elements.html" class="nav-link">Form Elements</a></li>
          <li class="nav-item"><a href="form-layouts.html" class="nav-link">Form Layouts</a></li>
          <li class="nav-item"><a href="form-validation.html" class="nav-link">Form Validation</a></li>
          <li class="nav-item"><a href="form-wizards.html" class="nav-link">Form Wizards</a></li>
          <li class="nav-item"><a href="form-editor-code.html" class="nav-link">Code Editor</a></li>
          <li class="nav-item"><a href="form-editor-text.html" class="nav-link">Text Editor</a></li>
        </ul>
        <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
            <span class="menu-item-label">Tables</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="table-basic.html" class="nav-link">Basic Table</a></li>
          <li class="nav-item"><a href="table-datatable.html" class="nav-link">Data Table</a></li>
        </ul>
        <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-navigate-outline tx-24"></i>
            <span class="menu-item-label">Maps</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="map-google.html" class="nav-link">Google Maps</a></li>
          <li class="nav-item"><a href="map-leaflet.html" class="nav-link">Leaflet Maps</a></li>
          <li class="nav-item"><a href="map-vector.html" class="nav-link">Vector Maps</a></li>
        </ul>
        <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-briefcase-outline tx-22"></i>
            <span class="menu-item-label">Utilities</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="background.html" class="nav-link">Background</a></li>
          <li class="nav-item"><a href="border.html" class="nav-link">Border</a></li>
          <li class="nav-item"><a href="height.html" class="nav-link">Height</a></li>
          <li class="nav-item"><a href="margin.html" class="nav-link">Margin</a></li>
          <li class="nav-item"><a href="padding.html" class="nav-link">Padding</a></li>
          <li class="nav-item"><a href="position.html" class="nav-link">Position</a></li>
          <li class="nav-item"><a href="typography-util.html" class="nav-link">Typography</a></li>
          <li class="nav-item"><a href="width.html" class="nav-link">Width</a></li>
        </ul>
        <a href="pages.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-paper-outline tx-22"></i>
            <span class="menu-item-label">Apps &amp; Pages</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <a href="layouts.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-book-outline tx-22"></i>
            <span class="menu-item-label">Layouts</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <a href="sitemap.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-list-outline tx-22"></i>
            <span class="menu-item-label">Sitemap</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
      </div><!-- br-sideleft-menu -->

      <label class="sidebar-label pd-x-15 mg-t-25 mg-b-20 tx-info op-9">Information Summary</label>

      <div class="info-list">
        <div class="d-flex align-items-center justify-content-between pd-x-15">
          <div>
            <p class="tx-10 tx-roboto tx-uppercase tx-spacing-1 tx-white op-3 mg-b-2 space-nowrap">Memory Usage</p>
            <h5 class="tx-lato tx-white tx-normal mg-b-0">32.3%</h5>
          </div>
          <span class="peity-bar" data-peity='{ "fill": ["#336490"], "height": 35, "width": 60 }'>8,6,5,9,8,4,9,3,5,9</span>
        </div><!-- d-flex -->

        <div class="d-flex align-items-center justify-content-between pd-x-15 mg-t-20">
          <div>
            <p class="tx-10 tx-roboto tx-uppercase tx-spacing-1 tx-white op-3 mg-b-2 space-nowrap">CPU Usage</p>
            <h5 class="tx-lato tx-white tx-normal mg-b-0">140.05</h5>
          </div>
          <span class="peity-bar" data-peity='{ "fill": ["#1C7973"], "height": 35, "width": 60 }'>4,3,5,7,12,10,4,5,11,7</span>
        </div><!-- d-flex -->

        <div class="d-flex align-items-center justify-content-between pd-x-15 mg-t-20">
          <div>
            <p class="tx-10 tx-roboto tx-uppercase tx-spacing-1 tx-white op-3 mg-b-2 space-nowrap">Disk Usage</p>
            <h5 class="tx-lato tx-white tx-normal mg-b-0">82.02%</h5>
          </div>
          <span class="peity-bar" data-peity='{ "fill": ["#8E4246"], "height": 35, "width": 60 }'>1,2,1,3,2,10,4,12,7</span>
        </div><!-- d-flex -->

        <div class="d-flex align-items-center justify-content-between pd-x-15 mg-t-20">
          <div>
            <p class="tx-10 tx-roboto tx-uppercase tx-spacing-1 tx-white op-3 mg-b-2 space-nowrap">Daily Traffic</p>
            <h5 class="tx-lato tx-white tx-normal mg-b-0">62,201</h5>
          </div>
          <span class="peity-bar" data-peity='{ "fill": ["#9C7846"], "height": 35, "width": 60 }'>3,12,7,9,2,3,4,5,2</span>
        </div><!-- d-flex -->
      </div><!-- info-lst -->

      <br>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="input-group hidden-xs-down wd-170 transition">
          <input id="searchbox" type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div><!-- input-group -->
      </div><!-- br-header-left -->
      <div class="br-header-right">
        <nav class="nav">
          <div class="dropdown">
            <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
              <span class="logged-name hidden-md-down"> User1 </span>
              <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
              <span class="square-10 bg-success"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-header wd-200">
              <ul class="list-unstyled user-profile-nav">
                <li><a href=""><i class="icon ion-ios-person"></i> Edit Profile</a></li>
                <li><a href=""><i class="icon ion-ios-gear"></i> Settings</a></li>
                <li><a href=""><i class="icon ion-ios-download"></i> Downloads</a></li>
                <li><a href=""><i class="icon ion-ios-star"></i> Favorites</a></li>
                <li><a href=""><i class="icon ion-ios-folder"></i> Collections</a></li>
                <li><a href=""><i class="icon ion-power"></i> Sign Out</a></li>
              </ul>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </nav>
        <div class="navicon-right">
          <a id="btnRightMenu" href="" class="pos-relative">
            <i class="icon ion-flash"></i>
            <!-- start: if statement -->
            <span class="square-8 bg-danger pos-absolute t-10 r--5 rounded-circle"></span>
            <!-- end: if statement -->
          </a>
        </div><!-- navicon-right -->
      </div><!-- br-header-right -->
    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->

    <!-- ########## START: RIGHT PANEL ########## -->
    <div class="br-sideright">
      <ul class="nav nav-tabs sidebar-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" role="tab" href="#alarms"><i class="icon ion-flash tx-24"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" href="#calendar"><i class="icon ion-ios-calendar-outline tx-24"></i></a>
        </li>
        
      </ul><!-- sidebar-tabs -->

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane pos-absolute a-0 mg-t-60 overflow-y-auto active" id="alarms" role="tabpanel">
          <label class="sidebar-label pd-x-25 mg-t-25">Recent  Alarms</label>
          <div class="contact-list pd-x-10" id="Alarms">

          </div><!-- contact-list -->
		  
				  <script>
				  
				  
				  function update_alarms(){
					  all_str="";
					  var alarms=["Alarm 1","Alarm 2","Alarm 3"];
					  var suggestions=["Suggestion 1", "Suggestion 2","Suggestion 3"];
					  
					  for(var j=0; j<=alarms.length - 1; j++)
						{
						str="<div class='contact-list-link'>"+
						  "<div class='d-flex'>"+
							"<div class='pos-relative'>"+
							  
							"</div>"+
							"<div class='mg-l-10'>"+
							  "<p class='mg-b-0 '>"+alarms[j]+"</p>"+
							  "<span class='tx-12 op-5 d-inline-block'>"+suggestions[j]+"</span>"+
							"</div>"+
						  "</div>"+
						"</div>"
						
						all_str=all_str+str;
						}
						document.getElementById("Alarms").innerHTML =  all_str;
					}
				</script>
		</div><!-- #contacts -->
		
		
        <div class="tab-pane pos-absolute a-0 mg-t-60 overflow-y-auto" id="calendar" role="tabpanel">
          <label class="sidebar-label pd-x-25 mg-t-25">Time &amp; Date</label>
          <div class="pd-x-25">
            <h2 id="brTime" class="tx-white tx-lato mg-b-5"></h2>
            <h6 id="brDate" class="tx-white tx-light op-3"></h6>
          </div>

          <label class="sidebar-label pd-x-25 mg-t-25">Events Calendar</label>
          <div class="datepicker sidebar-datepicker"></div>
	    </div> <!-- calendar -->
		
      </div><!-- tab-content -->
    </div><!-- br-sideright -->
    <!-- ########## END: RIGHT PANEL ########## --->

        <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
      <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" >Screw Compressor</a>
          <a class="breadcrumb-item" >Test Bed 1</a>
          <span class="breadcrumb-item active"> Live Readings</span>
        </nav>
      </div><!-- br-pageheader -->
      

      <div class="br-pagebody">
        <div class="br-section-wrapper">
         <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 ">FlOW and CONTROL</h6> 
		 
		 <div class="row">
		 
		  <div class="col-lg-5 col-sm-12"> 
		 
		  <div class="col-lg-12 col-sm-12"> 
		 <div class="card card-body tx-success  bd-1 bd-success">
			  Start
			</div><!-- card -->
			<center>
			 <i class="icon ion-arrow-down-a"></i><center>
		</div> 
			
		 
		 
		 
		 
		 <div class="col-lg-12 col-sm-12"> 
		 <div class="card card-body tx-info  bd-1 bd-info">
			  Choose Model : Model Number
			</div><!-- card -->
			<center>
			 <i class="icon ion-arrow-down-a"></i><center>
		</div> 
			
		<div class="col-lg-12 col-sm-12"> 
<div class="card card-body tx-info  bd-1 bd-info">				
		Write Unload Pressure to Controller : 7Kg/cm2
			</div><!-- card -->
			<center>
			 <i class="icon ion-arrow-down-a"></i><center>
		</div> 
		 
		<div class="col-lg-12 col-sm-12"> 
		<div class="card card-body tx-info  bd-1 bd-info">
		Start Test and wait for Load
			</div><!-- card -->
			<center>
			 <i class="icon ion-arrow-down-a"></i><center>
		</div> 
		   
		   
		<div class="col-lg-12 col-sm-12"> 
		 <div class="card card-body tx-warning  bd-1 bd-warning">
			  Manually Increase Discharge Pressure to 7  Bar
			</div><!-- card -->
			<center>
			 <i class="icon ion-arrow-down-a"></i><center>
		</div>    
		   
		<div class="col-lg-12 col-sm-12"> 
		 <div class="card card-body tx-info  bd-1 bd-info">
			  Take 3 readings at Half Hour Intervals
			</div><!-- card -->
			<center>
			 <i class="icon ion-arrow-down-a"></i><center>
		</div>

		<div class="col-lg-12 col-sm-12"> 
		 <div class="card card-body tx-warning  bd-1 bd-warning">
			  Manually Increase Discharge Pressure to 8 Bar to Unload the Compressor
			</div><!-- card -->
			<center>
			 <i class="icon ion-arrow-down-a"></i><center>
		</div>	
		
		<div class="col-lg-12 col-sm-12"> 
		<div class="card card-body tx-info  bd-1 bd-info"> 
			  Unload Power Readings
			</div><!-- card -->
			<center>
			 <i class="icon ion-arrow-down-a"></i><center>
		</div>	

		<div class="col-lg-12 col-sm-12"> 
		 
		<div class="card card-body tx-info  bd-1 bd-info">
			  Increase Unload Pressure > Safety Valve Pressure
			</div><!-- card -->
			<center>
			 <i class="icon ion-arrow-down-a"></i><center>
		</div>
		
		<div class="col-lg-12 col-sm-12"> 
		 <div class="card card-body tx-warning  bd-1 bd-warning">
			  Manually increase discharge pressure >Safety valve pressure
			</div><!-- card -->
			<center>
			 <i class="icon ion-arrow-down-a"></i><center>
		</div>	
		
		<div class="col-lg-12 col-sm-12"> 
		 <div class="card card-body tx-info  bd-1 bd-info">
			  Check Safety Valve
			</div><!-- card -->
			<center>
			 <i class="icon ion-arrow-down-a"></i><center>
		</div>	
		
		<div class="col-lg-12 col-sm-12"> 
		 
			 <div class="card card-body tx-info  bd-1 bd-info">
			  Reduce Discharge Pressure and reset Controller Settings
			</div><!-- card -->
			<center>
			 <i class="icon ion-arrow-down-a"></i><center>
		</div>	
		
		<div class="col-lg-12 col-sm-12"> 
		 
			 <div class="card card-body tx-dark  bd-1 bd-dark">
			 Stop and Verify Results
			</div><!-- card -->
			<center>
			 
		</div>
			</div><!-- col5 -->
		
		<div class="col-lg-7 col-sm-12"> 
		 
		<center>
		 <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 ">Compressor Test Bed</h6> 
		<img src="{{ url_for('static', filename='img/model.svg')}}">
		
		
		
		
		
		
		</center>
		
		
		<div><!-- col5 -->
		
		</div><!--row-->
		
		
		
		
        </div><!-- br-section-wrapper -->
      </div><!-- br-pagebody -->
      <footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">Copyright &copy; 2017. Bracket. All Rights Reserved.</div>
          <div>Attentively and carefully made by ThemePixels.</div>
        </div>
        <div class="footer-right d-flex align-items-center">
          <span class="tx-uppercase mg-r-10">Share:</span>
          <a target="_blank" class="pd-x-5" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themepixels.me/bracket/intro"><i class="fa fa-facebook tx-20"></i></a>
          <a target="_blank" class="pd-x-5" href="https://twitter.com/home?status=Bracket,%20your%20best%20choice%20for%20premium%20quality%20admin%20template%20from%20Bootstrap.%20Get%20it%20now%20at%20http%3A//themepixels.me/bracket/intro"><i class="fa fa-twitter tx-20"></i></a>
        </div>
      </footer>
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->
	
	  <div id="modaldemo" class="modal fade effect-scale">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 rounded-0">
          <div class="modal-body pd-0">
            <div class="row flex-row-reverse no-gutters">
              <div class="col-lg-6">
                <div class="pd-30">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="pd-xs-x-30 pd-y-10">
                    <h5 class="tx-xs-28 tx-inverse mg-b-5">Welcome back!</h5>
                    <p>No active tests Found. Please enter details to continue.</p>
                    <br>
                    <div class="form-group">
                      <input type="email" name="email" class="form-control pd-y-12" placeholder="Enter Test ID">
                    </div><!-- form-group -->
					
                    <div class="form-group ">
                      <input type="email" name="password" class="form-control pd-y-12" placeholder="Enter QA Incharge">
                    </div><!-- form-group -->
					
					<div class="form-group">
                      <input type="email" name="password" class="form-control pd-y-12" placeholder="Enter Test Incharge">
					  
                    </div><!-- form-group -->
					
					<div class="form-group">
					 <select class="form-control select2" data-placeholder="Model Choose">
						<option label="Choose model"></option>
						<optgroup label="Pacific Time Zone">
						  <option value="CA">California</option>
						  <option value="NV">Nevada</option>
						  <option value="OR">Oregon</option>
						  <option value="WA">Washington</option>
						</optgroup>
						<optgroup label="Mountain Time Zone">
						  <option value="AR">Arizona</option>
						  <option value="CO">Colorado</option>
						  <option value="ID">Idaho</option>
						  <option value="MO">Montana</option>
						</optgroup>
						<optgroup label="Central Time Zone">
						  <option value="AL">Alabama</option>
						  <option value="KA">Kansas</option>
						  <option value="KE">Kentucky</option>
						  <option value="OK">Oklahoma</option>
						</optgroup>
					  </select>
					   </div><!-- form-group -->
						
					
                    <button class="btn btn-primary pd-y-12 btn-block">Start</button>

                    
                  </div>
                </div><!-- pd-20 -->
              </div><!-- col-6 -->
              <div class="col-lg-6 bg-primary">
                <div class="pd-40">
                  <h4 class="tx-white mg-b-20"><span>[</span>  START TEST  <span>]</span></h4>
                  <p class="tx-white op-7 mg-b-60">Screw Compressor test-bed automation and analytics.</p>
                  
                </div>
              </div><!-- col-6 -->
            </div><!-- row -->
          </div><!-- modal-body -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>

    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>
    <script>
      $(function(){
        'use strict';

        // show only the icons and hide left menu label by default
        $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');

        $(document).on('mouseover', function(e){
          e.stopPropagation();
          if($('body').hasClass('collapsed-menu')) {
            var targ = $(e.target).closest('.br-sideleft').length;
            if(targ) {
              $('body').addClass('expand-menu');

              // show current shown sub menu that was hidden from collapsed
              $('.show-sub + .br-menu-sub').slideDown();

              var menuText = $('.menu-item-label,.menu-item-arrow');
              menuText.removeClass('d-lg-none');
              menuText.removeClass('op-lg-0-force');

            } else {
              $('body').removeClass('expand-menu');

              // hide current shown menu
              $('.show-sub + .br-menu-sub').slideUp();

              var menuText = $('.menu-item-label,.menu-item-arrow');
              menuText.addClass('op-lg-0-force');
              menuText.addClass('d-lg-none');
            }
          }
        });

      });
    </script>
	
    <!-- Script for socketio -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	 <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
	
	<script>
			var socket = io.connect('http://127.0.0.1:5000');

			socket.on('connect', function() {
				 console.log('connected');
				 socket.emit('serverside','Connected')
				 update_alarms();
			});
			
			socket.on('message', function(data) {
				 console.log(data);
			
			});
	
	</script>
	
	
	
  </body>
</html>
