<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>KPCL</title>

    <!-- vendor css 
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">

    <!-- Bracket CSS 
    <link rel="stylesheet" href="../css/bracket.css">
	<link rel="stylesheet" href="../css/custom_css.css">  -->
	
	<!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_css.css')}}">
	

	
	
  </head>

  <body>

    <!-- ########## START: LEFT PANEL ########## -->
   <div class="br-logo"><a href=""><span></span>KPCL<span></span></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
      <div class="br-sideleft-menu">
        <a href="table-datatable3.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>          
            <span class="menu-item-label">All Projects</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
       
        <a href="live1.html" class="br-menu-link active show-sub">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-pie-graph tx-24"></i>
            <span class="menu-item-label">Compressor Test</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="http://10.21.4.90:5001/live1.html" class="nav-link active">Testbed 1 &nbsp;&nbsp;&nbsp;<i id='test_status' class="fa fa-circle" style="color: red;"></i></a></li>
          
          
        </ul>
  
  
  
  
        <a href="dashboard.html" class="br-menu-link ">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-stats-bars tx-24"></i>
            <span class="menu-item-label">Analytics</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="dashboard.html" class="nav-link">Dashboard</a></li>
          <li class="nav-item"><a href="testbed1.html" class="nav-link active">Digital Twin</a></li>
          <li class="nav-item"><a href="cal_cert.html" class="nav-link ">Calibration Certificate</a></li>
          <li class="nav-item"><a href="r_table.html" class="nav-link">Recommendation</a></li>
          <li class="nav-item"><a href="model.html" class="nav-link">Model</a></li>
          
        </ul>
        <a href="profile.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
            <span class="menu-item-label">Profile Setting</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
  
  
        <a href="contact.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon fa fa-phone  fa-2x tx-20"></i>
            <span class="menu-item-label">Contact Us</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        
        
        
        
        
       
  
      </div>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu"  href=""><i class="icon ion-navicon-round" ></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile"  href=""><i class="icon ion-navicon-round" ></i></a></div>
       
      </div><!-- br-header-left -->
     

      <div class="br-header-right">
        <div class="dropdown">
          <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
            <span class="logged-name hidden-md-down" id="user"></span>
            <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
            <span class="square-10 bg-success"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-200">
            <ul class="list-unstyled user-profile-nav">
            
             
              <li><a href="login.html"><i class="icon ion-power"></i> Sign Out</a></li>
            </ul>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
       </div>
    </div><!-- br-sideright -->
    <!-- ########## END: RIGHT PANEL ########## --->

    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
	<div class="ht-1 bd bg-gray-100 pd-x-15 d-flex align-items-center justify-content-between mg-t-20">
    </div><!-- ht-65 -->

      <div class="br-pagebody">
	  
	    
			
		<nav class="navbar navbar-expand-md  navbar-dark bg-dark pd-x-10 pd-sm-x-20  pd-sm-t-10 ">   
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				 Views&nbsp;<span class="icon ion-grid"></span>
			</button>	
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">		
					<a href="live1.html" class="nav-item nav-link navbar-font">Basic Info</a>
					<a href="live2.html" class="nav-item nav-link navbar-font" >Live Charts</a>
					<a href="live3.html" class="nav-item nav-link navbar-font">Flow View</a>
					<a href="live4.html" class="nav-item nav-link navbar-font">Digital Twin</a>
					<a href="live5.html" class="nav-item nav-link navbar-font">Report View</a>
					<a href="live7.html" class="nav-item nav-link active navbar-custom-active">Alarms & Timeline</a>
					<a href="live8.html" class="nav-item nav-link navbar-font">Camera</a>
				</div>
			</div>
			<div class="btn-group pr-lg-5" role="group" >
				 <a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-play text-success" style="font-size:30px;" aria-hidden="true" data-toggle="modal" data-target="#modaldemo6"></i></a>
				 <a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-pause  text-warning" style="font-size:30px;" aria-hidden="true"data-toggle="modal" data-target="#modaldemo3"></i></a>
				 <a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-stop  text-danger" style="font-size:30px;" aria-hidden="true" data-toggle="modal" data-target="#modaldemo4"></i></a>
			</div>
			<div class="btn-group pl-lg-5" role="group" >
				<a href="live5.html"  class="btn btn-outline-light "><span class="fa fa-chevron-left"></span></a>
				<a href="live8.html"  class="btn btn-outline-light "><i class="fa fa-chevron-right"></i></a>
			</div>
		</nav>
		       
			
		
		<div class="br-section-wrapper">
		<div class='pd-b-10'>
		<h6 class="tx-gray-800  tx-bold tx-14"><b>Digital Twin vs Actual Readings vs Tolerance </h6></div>
		<p></b>Cannot connect to Cloud. Please check network / firewall.Page will refresh post test completion.</p>
		<div class="row">
		<div class='col-lg-6 col-md-12 border pd-5 '>
		   <div id="container" style="height: 500px"></div>		
		</div><!--br-section-wrapper-->
		<div class='col-lg-6 col-md-12 border pd-5 '>
		   <div id="container1"  style="height: 500px"></div>
		</div><!--br-section-wrapper-->
		</div>
		
		

		</div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->
  </div>
  
  <footer class="br-footer">
    <div class="footer-left">
      <div class="mg-b-2">Copyright &copy; 2019.Cyronics. All Rights Reserved.</div>
     
     
    </div>
   
  </footer>
	</div>


    <div id="modaldemo3" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
          <div class="modal-body pd-0">
            <div class="row no-gutters">
              <div class="col-lg-6 bg-warning">
                <div class="pd-40">
                  
                <i class="fa fa-pause-circle tx-70 tx-white lh-1 mg-t-80 d-inline-block"></i>
          <h4 class="tx-white mg-b-20">Reason for Pause. Please select the department according to reason </h4>
          
        
                  
                 
                  </div>
                </div><!-- col-6 -->
                <div class="col-lg-6 bg-white">
                  <div class="pd-30">
                    <button type="button" class="close tx-40 tx-danger" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="pd-x-30 pd-y-10">
                    <b>Please Select Department :</br></b>
                      <label class="ckbox">
                        <input type="checkbox">
                        <span>Quality</span>
                      </label>
                      <label class="ckbox">
                        <input type="checkbox">
                        <span>Management</span>
                      </label>
                      <label class="ckbox">
                        <input type="checkbox">
                        <span>Misc</span>
                      </label>
                      <label class="ckbox">
                        <input type="checkbox">
                        <span>Alarms</span>
                      </label><label class="ckbox">
                        <input type="checkbox">
                        <span>Testbed error</span>
                      </label>
                                                      
                      <div class="form-group">
                          Reason for pause
                        <input class="form-control ht-100 border-warning" placeholder="Details of pause" type="textarea">
                      </div><!-- form-group -->
                      
                     
                      <button class="btn btn-outline-warning pd-y-12 btn-block">Send for review </button>

                      <div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a></div>
                    </div>
                  </div><!-- pd-20 -->
                </div><!-- col-6 -->
              </div><!-- row -->

            </div><!-- modal-body -->
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->



      <div id="modaldemo4" class="modal fade">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
              <div class="modal-body pd-0">
                <div class="row no-gutters">
                  <div class="col-lg-6 bg-danger">
                    <div class="pd-40">
                      
                    <i class="fa fa-stop-circle tx-70 tx-white lh-1 mg-t-80 d-inline-block"></i>
              <h4 class="tx-white mg-b-20">Reason for stop. Please select the department according to reason </h4>
              
            
                      
                     
                      </div>
                    </div><!-- col-6 -->
                    <div class="col-lg-6 bg-white">
                      <div class="pd-30">
                        <button type="button" class="close tx-40 tx-danger" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="pd-x-30 pd-y-10">
                        <b>Please Select Department :</br></b>
                          <label class="ckbox">
                            <input type="checkbox">
                            <span>Quality</span>
                          </label>
                          <label class="ckbox">
                            <input type="checkbox">
                            <span>Management</span>
                          </label>
                          <label class="ckbox">
                            <input type="checkbox">
                            <span>Misc</span>
                          </label>
                          <label class="ckbox">
                            <input type="checkbox">
                            <span>Alarms</span>
                          </label><label class="ckbox">
                            <input type="checkbox">
                            <span>Testbed error</span>
                          </label>
                                                          
                          <div class="form-group">
                              Reason for stop
                            <input class="form-control ht-100 border-danger" placeholder="Details of stop" type="textarea">
                          </div><!-- form-group -->
                          
                         
                          <button class="btn btn-outline-danger pd-y-12 btn-block">Send for review </button>
  
                          <div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a></div>
                        </div>
                      </div><!-- pd-20 -->
                    </div><!-- col-6 -->
                  </div><!-- row -->
  
                </div><!-- modal-body -->
              </div><!-- modal-content -->
            </div><!-- modal-dialog -->
          </div><!-- modal -->




          <div id="modaldemo6" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                <div class="modal-body pd-0">
                  <div class="row no-gutters">
                    <div class="col-lg-6 bg-primary">
                      <div class="pd-40">
                        
                        <p class="tx-white tx-13">
                          <span class="tx-uppercase tx-medium d-block mg-b-15"><!--type here--></span>
                                              <center><img src='start.jpg' style='height:80%;width:80%'></img></center></p>
                          <span class="op-7 tx-white">Screw Compressor test-bed automation and analytics.</span></p>
                        </div>
                      </div><!-- col-6 -->
                      <div class="col-lg-6 bg-white">
                        <div class="pd-30">
                          <button type="button" class="close tx-40 tx-danger" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <div class="pd-x-30 pd-y-10">
                            <b><h3 class="tx-inverse  mg-b-5">Welcome back!</h3></b>
                            <p>No active tests Found.Please enter details to continue.</p>
                            <br>
                            <div class="form-group">
                              <input type="text" id="tid"  name="email" class="form-control pd-y-12" placeholder="Enter Test ID" autocomplete="off">
                              <p id="em"></p>
                            </div><!-- form-group -->
                            <div class="form-group">
                              <input type="text" id="con" name="contact" class="form-control pd-y-12" placeholder="Enter QA Incharge">
                              <p id="cont"></p>
                            </div><!-- form-group -->
                            <div class="form-group mg-b-20">
                              <input type="password" id="pass"  name="password" class="form-control pd-y-12" placeholder="Enter Test Incharge">
                              <p id="ps"></p>
                              <!--<a href="" class="tx-12 d-block mg-t-10">Forgot password?</a>-->
                            </div><!-- form-group -->

                            <button class="btn btn-primary pd-y-12 btn-block"  onclick="validate();">START TEST</button>
                           
                            
                          </div>
                        </div><!-- pd-20 -->
                      </div><!-- col-6 -->
                    </div><!-- row -->

                  </div><!-- modal-body -->
                </div><!-- modal-content -->
              </div><!-- modal-dialog -->
            </div><!-- modal -->

        

    <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>

    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>                  
    
  

    <!--<script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../lib/moment/moment.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="../lib/peity/jquery.peity.js"></script>

    <script src="../js/bracket.js"></script>-->
	
	
	<script src="{{ url_for('static', filename='echarts_js/echarts.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/echarts-gl.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/ecStat.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/dataTool.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/china.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/bmap.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/simplex.js')}}"></script>                  
    
	
	
	<!--      <script type="text/javascript" src="echarts_js/echarts.min.js"></script>
       <script type="text/javascript" src="echarts_js/echarts-gl.min.js"></script>
       <script type="text/javascript" src="echarts_js/ecStat.min.js"></script>
       <script type="text/javascript" src="echarts_js/dataTool.min.js"></script>
       <script type="text/javascript" src="echarts_js/china.js"></script>
       <script type="text/javascript" src="echarts_js/world.js"></script>
       <script type="text/javascript" src="echarts_js/bmap.min.js"></script>
       <script type="text/javascript" src="echarts_js/simplex.js"></script> -->
       <script type="text/javascript"> 
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
var upColor = '#ec0000';
var upBorderColor = '#8A0000';
var downColor = '#00da3c';
var downBorderColor = '#008F28';

var newdata = [];
for(var i =0; i<61 ; i++){
	newdata.push([i,Math.random(),Math.random(),Math.random(),Math.random()]);
}
console.log(newdata);
reading_data =[[20,1],[40,1],[60,1]];
var data0=splitData(newdata);

function splitData(rawData) {
    var categoryData = [];
    var values = []
    for (var i = 0; i < rawData.length; i++) {
        categoryData.push(rawData[i].splice(0, 1)[0]);
        values.push(rawData[i])
    }
    return {
        categoryData: categoryData,
        values: values
    };
}

function calculateMA(dayCount) {
    var result = [];
    for (var i = 0, len = data0.values.length; i < len; i++) {
        if (i < dayCount) {
            result.push('-');
            continue;
        }
        var sum = 0;
        for (var j = 0; j < dayCount; j++) {
            sum += data0.values[i - j][1];
        }
        result.push(sum / dayCount);
    }
    return result;
}

console.log(calculateMA(10));

option = {
    title: {
        text: 'Test History',
        left: 0,
		textStyle:{
		fontSize : 15,
		color:'#4285F4',
		fontWeight :'normal',
		},
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross'
        }
    },
    legend: {
		top:350,  
        data: [ 'FAD', 'FAD Corrected', 'Condensate', 'Condensate Corrected','Readings'],
		
    },
    grid: {
        
		height:250,
		
    },
    xAxis: {
        type: 'category',
        data: data0.categoryData,
        scale: true,
        boundaryGap : false,
        axisLine: {onZero: false},
        splitLine: {show: false},
        splitNumber: 20,
        min: 'dataMin',
        max: 'dataMax'
    },
    yAxis: {
        scale: true,
        splitArea: {
            show: true
        }
    },
    dataZoom: [
        {
            type: 'inside',
            start: 50,
            end: 100
        },
        {
            show: true,
            type: 'slider',
            y: '80%',
            start: 50,
            end: 100
        }
    ],
    series: [

        {
            name: 'FAD',
            type: 'line',
            data: calculateMA(5),
            smooth: true,
			color:'#ff4444',
            lineStyle: {
                normal: {opacity: 0.5}
            }
        },
        {
            name: 'FAD Corrected',
            type: 'line',
            data: calculateMA(10),
			color:'#ffbb33',
            smooth: true,
            lineStyle: {
                normal: {opacity: 0.5}
            }
        },
        {
            name: 'Condensate',
            type: 'line',
            data: calculateMA(20),
            smooth: true,
			color:'#4285F4',
            lineStyle: {
                normal: {opacity: 0.5}
            }
        },
        {
            name: 'Condensate Corrected',
            type: 'line',
            data: calculateMA(30),
            smooth: true,
			color:'#007E33',
            lineStyle: {
                normal: {opacity: 0.5}
            }
        },
		{
            name: 'Readings',
            type: 'bar',
            data: reading_data,
			color:'#757575',
            barWidth: '20%',
            lineStyle: {
                normal: {opacity: 0.1}
            }
        },

    ]
};

;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}



       </script>
	  
       <script type="text/javascript">
var dom = document.getElementById("container1");
var myChart = echarts.init(dom);
var app = {};
option = null;

var data = [];
var dataCount = 10;
var startTime = +new Date();
var categories = ['Errors', 'Alarms', 'Downtime'];
var types = [
    {name: 'Air Temp. Low', color: '#ff4444'},
    {name: 'Oil Leakage', color: '#ffbb33'},
    {name: 'Discharge Pressure Low', color: '#4285F4'},
    {name: 'No Power', color: '#007E33'},
    {name: 'Testbed Error', color: '#0099CC'},
    {name: 'FAD Incorrect', color: '#aa66cc'}
];

// Generate mock data
echarts.util.each(categories, function (category, index) {
    var baseTime = startTime;
    for (var i = 0; i < dataCount; i++) {
        var typeItem = types[Math.round(Math.random() * (types.length - 1))];
        var duration = Math.round(Math.random() * 10000);
        data.push({
            name: typeItem.name,
            value: [
                index,
                baseTime,
                baseTime += duration,
                duration
            ],
            itemStyle: {
                normal: {
                    color: typeItem.color
                }
            }
        });
        baseTime += Math.round(Math.random() * 2000);
    }
});

function renderItem(params, api) {
    var categoryIndex = api.value(0);
    var start = api.coord([api.value(1), categoryIndex]);
    var end = api.coord([api.value(2), categoryIndex]);
    var height = api.size([0, 1])[1] * 0.6;

    var rectShape = echarts.graphic.clipRectByRect({
        x: start[0],
        y: start[1] - height / 2,
        width: end[0] - start[0],
        height: height
    }, {
        x: params.coordSys.x,
        y: params.coordSys.y,
        width: params.coordSys.width,
        height: params.coordSys.height
    });

    return rectShape && {
        type: 'rect',
        shape: rectShape,
        style: api.style()
    };
}


option = {
    tooltip: {
        formatter: function (params) {
            return params.marker + params.name + ': ' + params.value[3] + ' ms';
        }
    },
    title: {
        text: 'Error Timeline',
        left: 0,
		textStyle:{
		fontSize : 15,
		color:'#4285F4',
		fontWeight :'normal',
		},
    },
    dataZoom: [{
        type: 'slider',
        filterMode: 'weakFilter',
        showDataShadow: false,
        y:'80%',
        height: 10,
        borderColor: 'transparent',
        backgroundColor: '#e2e2e2',
        handleIcon: 'M10.7,11.9H9.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4h1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7v-1.2h6.6z M13.3,22H6.7v-1.2h6.6z M13.3,19.6H6.7v-1.2h6.6z', // jshint ignore:line
        handleSize: 20,
        handleStyle: {
            shadowBlur: 6,
            shadowOffsetX: 1,
            shadowOffsetY: 2,
            shadowColor: '#aaa'
        },
        labelFormatter: ''
    }, {
        type: 'inside',
        filterMode: 'weakFilter'
    }],
    grid: {
        height:250,
		left:80
		
    },
    xAxis: {
        min: startTime,
        scale: true,
        axisLabel: {
            formatter: function (val) {
                return Math.max(0, val - startTime) + ' ms';
            }
        }
    },
    yAxis: {
        data: categories
    },
    series: [{
        type: 'custom',
        renderItem: renderItem,
        itemStyle: {
            normal: {
                opacity: 0.8
            }
        },
        encode: {
            x: [1, 2],
            y: 0
        },
        data: data
    }]
};;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}

str1="Hi, user !";
       document.getElementById("user").innerHTML=str1;
       </script>


	   </body>
</html>
