<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Cyronics</title>
	
	<!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	
    <!-- vendor css 
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">

    
    <link rel="stylesheet" href="../css/bracket.css"> -->
  </head>

  <body background='/static/img/image1.jpg'>

    <div class="d-flex align-items-center justify-content-center ht-100v">

      <div class="login-wrapper wd-400 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
        <!--<div class="signin-logo tx-center tx-28 tx-bold tx-inverse"> CUSTOMER LOGO </div>-->
        <center><img src="/static/img/companylogo.png" style="height:150px; "></center>
		<!--<center><h3 class="text-dark ">Demo Testbed Automation</h3>
		
		</br><h5 class="text-dark"> [Customer Logo]</h5>
		</center>-->
        <div class="tx-center mg-b-20"></div>
       <center><p style='font-size:20px;'>Welcome Back !</p></center>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter  Username">
        </div><!-- form-group -->
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Enter Password"><br>

       
  
  <a href="table-datatable3.html" class="btn btn-primary btn-block" role="button" action="user_login()">Login</a>
  <a href="" class="btn btn-primary btn-block" role="button" data-toggle="modal" data-target="#modaldemo6">Sign Up</a>
                 
  <!--<a href="login11.html" data-toggle="modal" data-target="#modaldemo6">Sign Up</a>-->
  <a href="" class="tx-primary tx-14 d-block mg-t-10 align-items-center" data-toggle="modal" data-target="#modaldemo2">Forgot Password?</a>
   
   <img src="/static/img/logo.jpg" style="height:100px; margin-left:60px;">
  
   
                    
</div><!-- form-group -->
  
    
    
      </div><!-- login-wrapper -->
    </div><!-- d-flex -->

    
              <div id="modaldemo6" class="modal fade">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                      <div class="modal-body pd-0">
                        <div class="row no-gutters">
                          <div class="col-lg-6 bg-primary wd-1000">
                            <div class="pd-40">
                                <center>
								<img src='/static/img/signup.jpg' height="90%" width="90%"></img>
								</center>
                              </div>
                            </div><!-- col-6 -->
                            <div class="col-lg-6 bg-white">
                              <div class="pd-30">
                                <button type="button" class="close  tx-50" style="margin-top:-20px;color:red;" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="pd-x-30 pd-y-10">
                                  <h3 class="tx-inverse  mg-b-5">Welcome</h3>
                                  <p>Sign in to your Account to Continue</p>
                                  
                                  <div class="form-group">
                                    <input type="email" id="mail"  name="email" class="form-control pd-y-12" placeholder="Enter your email" autocomplete="off">
                                    <p id="em"></p>
                                  </div><!-- form-group -->
                                  <div class="form-group">
                                    <input type="text" id="con" name="contact" class="form-control pd-y-12" placeholder="Enter your contact">
                                    <p id="cont"></p>
                                  </div><!-- form-group -->
                                  <div class="form-group mg-b-20">
                                    <input type="password" id="pass"  name="password" class="form-control pd-y-12" placeholder="Enter your password">
                                    <p id="ps"></p>
                                    <!--<a href="" class="tx-12 d-block mg-t-10">Forgot password?</a>-->
                                  </div><!-- form-group -->
  
                                 
                                   <a href="login.html" class="btn btn-primary pd-y-12 btn-block" onclick="validate()" role="button">Sign Up</a>
                    

                                  
                                </div>
                              </div><!-- pd-20 -->
                            </div><!-- col-6 -->
                          </div><!-- row -->
  
                        </div><!-- modal-body -->
                      </div><!-- modal-content -->
                    </div><!-- modal-dialog -->
                  </div><!-- modal -->

              
<div id="modaldemo2" class="modal fade">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                      <div class="modal-body pd-0">
                        <div class="row no-gutters">
                          <div class="col-lg-6 bg-primary wd-500">
                            <div class="pd-t-40 pd-b-40">
							<center>
								<img src='/static/img/forgotpassword.jpg' mheight="90%" width="90%"></img>
								</center>
                              
                              
                              </div>
                            </div><!-- col-6 -->
                            <div class="col-lg-6 bg-white">
                              <div class="pd-30">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="pd-x-30 pd-y-10">
                                  <h3 class="tx-inverse  mg-b-5">Ooooooooops .....</h3>
                                  <p>No worries we got you're back !</p>
								  <p> Enter your registered email to continue !</p> 
                                  
                                  <div class="form-group">
                                    <input type="email" id="mail"  name="email" class="form-control pd-y-12" placeholder="Enter your email" autocomplete="off" >
                                    <p id="em"></p>
                                  </div><!-- form-group -->
                                  
                                    <!--<a href="" class="tx-12 d-block mg-t-10">Forgot password?</a>-->
                                  </div><!-- form-group -->
  
                                 
                                   <a href="login.html" class="btn btn-primary pd-y-12 btn-block" onclick="validate()" role="button">Submit</a>
                    

                                  
                                </div>
                              </div><!-- pd-20 -->
                            </div><!-- col-6 -->
                          </div><!-- row -->
  
                        </div><!-- modal-body -->
                      </div><!-- modal-content -->
                    </div><!-- modal-dialog -->
                  </div><!-- modal -->

    <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>

    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>     

    <!--<script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../lib/moment/moment.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="../lib/peity/jquery.peity.js"></script>
    <script src="../lib/highlightjs/highlight.pack.js"></script>

    <script src="../js/bracket.js"></script>-->
 <script>

  

	


	def user_login()
	{
	data={
	"phone":document.getElementById("phone").value,
	"password":document.getElementById("password").value,
	}
	console.log(data);
	socket.emit("login_cred_check",data);
	}



 socket.on("login_status_check",function(data){
 console.log(data);

 //  location.href = "/epass";

 });

      $(function(){

        // showing modal with effect
        $('.modal-effect').on('click', function(){
          var effect = $(this).attr('data-effect');
          $('#modaldemo2').addClass(effect, function(){
            $('#modaldemo2').modal('show');
          });
          return false;
        });

        // hide modal with effect
        $('#modaldemo2').on('hidden.bs.modal', function (e) {
          $(this).removeClass (function (index, className) {
              return (className.match (/(^|\s)effect-\S+/g) || []).join(' ');
          });
        });
      });

     

    // validation code here
    var maill=document.getElementById("mail").value;    
    var con=document.getElementById("con").value;
    var pass=document.getElementById("pass").value;
    
    function validate(){
                if(maill == ""){
                         alert(maill);
                          document.getElementById("em").innerHTML="Please enter your email field";
                          return false;
                          }
               if(mail.indexOf('@')<=2){
                          alert("hiiii");
                          document.getElementById("em").innerHTML="Please enter valid email";
                          return false;
                                }
               if(mail.charAt(mail.length-4)!='.'){
                          document.getElementById("em").innerHTML="Please enter valid email";
                          return false;
                                        }
               if(con==""){
                          document.getElementById("cont").innerHTML="Please enter your contact field";
                          return false;
                              }

               if(isNaN(con)){
                          document.getElementById("cont").innerHTML="Please enter only numbers..";
                          return false;
                                }
               if((con[0]<7) || (con.length!=10)){
                          document.getElementById("cont").innerHTML="contact number is wrong please enter correct mobile number";
                          return false;
                              }

             
                    
                    
                    
                    
                  }//end of validate function

  </body>
</html>
