<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Data Table Design - Bracket Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css 
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="../lib/highlightjs/github.css" rel="stylesheet">
    <link href="../lib/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet"> -->

    <!-- Bracket CSS 
    <link rel="stylesheet" href="../css/bracket.css"> -->
	
	
	<!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/highlightjs/github.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lib/datatables/jquery.dataTables.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lib/select2/css/select2.min.css')}}" rel="stylesheet">

	
    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_css.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/cust1.css')}}">
	
	
    <style>
      input.largerCheckbox { 
            width: 40px; 
            height: 40px; 
        } 
        </style>
  </head>

  <body>

    
    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span>[</span>Customer Logo<span>]</span></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
      <div class="br-sideleft-menu">
        <a href="table-datatable3.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>          
            <span class="menu-item-label">All Projects</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
       
        <a href="live1.html" class="br-menu-link ">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-pie-graph tx-24"></i>
            <span class="menu-item-label">Compressor Test</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="live1.html" class="nav-link">Test1</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link">Test2</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link active">Test3</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link ">Create New <i class=" fa fa-plus "></i></a></li>
          
        </ul>
  
  
  
  
        <a href="dashboard.html" class="br-menu-link active show-sub">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-stats-bars tx-24"></i>
            <span class="menu-item-label">Analytics</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="dashboard.html" class="nav-link">Dashboard</a></li>
          <li class="nav-item"><a href="testbed1.html" class="nav-link ">Digital Twin</a></li>
          <li class="nav-item"><a href="cal_cert.html" class="nav-link ">Calibration Certificate</a></li>
          <li class="nav-item"><a href="r_table.html" class="nav-link active">Recommendation</a></li>
          <li class="nav-item"><a href="model.html" class="nav-link">Model</a></li>
          
        </ul>
        <a href="profile.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
            <span class="menu-item-label">Profile Setting</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
  
  
        <a href="contact.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon fa fa-phone  fa-2x tx-20"></i>
            <span class="menu-item-label">Contact Us</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        
        
        
        
        
       
  
      </div>
    </div><!-- br-sideleft -->
    

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        
      </div><!-- br-header-left -->
      <div class="br-header-right">
        <div class="dropdown">
          <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
            <span class="logged-name hidden-md-down" id="user"></span>
            <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
            <span class="square-10 bg-success"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-200">
            <ul class="list-unstyled user-profile-nav">
            
             
              <li><a href="login.html"><i class="icon ion-power"></i> Sign Out</a></li>
            </ul>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
       </div>

    </div><!-- br-sideright -->
    <!-- ########## END: RIGHT PANEL ########## --->

    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
      <div class="br-pageheader  pd-l-20">
   
      </div><!-- br-pageheader -->
     

      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">RECOMMENDATION</h6>


        <!-- <div class="br-header-right justify-content-end" style="margin-top:-35px;">
              <a href="" class="btn btn-success btn-with-icon" data-toggle="modal" data-target="#modaldemo2">
                  <div class="ht-30">
                    <span class="icon wd-40 tx-white "><i class="fa fa-download"></i></span>
                    <span class="pd-x-15 tx-white">Download</span>
                  </div>
                </a>    
          
          </div>&nbsp;-->

          <div class="table-wrapper">
              <table id="datatable2" class="table display responsive nowrap">
                  <thead class='thead-colored thead-dark'>
                <tr>
                  <th class="wd-15p">warning Type</th>
                  <th class="wd-15p">Department</th>
                  <th class="wd-10p">TestBed</th>
                  <th class="wd-20p">Warning Frequency</th>
                  <th class="wd-15p">Solution time</th>
                  <th class="wd-10p">Reason</th>
                  <th class="wd-25p">Action</th>
                </tr>
              </thead>
              <tbody>
                  <!----------------------first row-------------------------->
			    <tr>
                  <td>Temp is low</td>
                  <td>QA </td>
                  <td>TestBed1</td>
                  <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>25.10%</span> from last month</td>

                  <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar wd-30p bg-teal"
                          role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                        <div>
                        3 hrs
                        </td>
                    <td><a  href="#" class="bg-teal tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo6">Reason</a></td>
                  <td><a  href="#" class="bg-warning tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo3">Action</a></td>
                  
				  
                  
                </tr>
                       <!----------------------2nd row-------------------------->
                <tr>
                    <td>Pressure is low</td>
                    <td>QA </td>
                    <td>TestBed1</td>
                    <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>23.22%</span> from last month</td>
  
                    <td>
                      <div class="progress">
                          <div class="progress-bar progress-bar wd-40p bg-teal"
                            role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                          <div>
                          4 hrs
                          </td>
                      <td><a  href="#" class="bg-teal tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo6">Reason</a></td>
                    <td><a  href="#" class="bg-warning tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo3">Action</a></td>
                    
                    
                    
                  </tr>


                   <!----------------------3rd row-------------------------->
              
                   <tr>
                        <td>Voltage is low</td>
                        <td>QA </td>
                        <td>TestBed1</td>
                        <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>38.18%</span> from last month</td>
      
                        <td>
                          <div class="progress">
                              <div class="progress-bar progress-bar wd-40p bg-teal"
                                role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                              <div>
                              4 hrs
                              </td>
                          <td><a  href="#" class="bg-teal tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo6">Reason</a></td>
                        <td><a  href="#" class="bg-warning tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo3">Action</a></td>
                        
                        
                        
                      </tr>



                    <!----------------------4th row-------------------------->

                      <tr>
                            <td>Current is low</td>
                            <td>QA </td>
                            <td>TestBed1</td>
                            <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>48.18%</span> from last month</td>
          
                            <td>
                              <div class="progress">
                                  <div class="progress-bar progress-bar wd-20p bg-teal"
                                    role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                  <div>
                                  2 hrs
                                  </td>
                              <td><a  href="#" class="bg-teal tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo6">Reason</a></td>
                            <td><a  href="#" class="bg-warning tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo3">Action</a></td>
                            
                            
                            
                          </tr>
               <!----------------------5th row-------------------------->
               
               <tr>
                    <td>Current is high</td>
                    <td>QA </td>
                    <td>TestBed1</td>
                    <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>12.18%</span> from last month</td>
  
                    <td>
                      <div class="progress">
                          <div class="progress-bar progress-bar wd-10p bg-teal"
                            role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                          <div>
                          1 hrs
                          </td>
                      <td><a  href="#" class="bg-teal tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo6">Reason</a></td>
                    <td><a  href="#" class="bg-warning tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo3">Action</a></td>
                    
                    
                    
                  </tr>

                                    <!----------------------6th row-------------------------->


                                    <tr>
                                            <td>Voltage is high</td>
                                            <td>QA </td>
                                            <td>TestBed1</td>
                                            <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>17.18%</span> from last month</td>
                          
                                            <td>
                                              <div class="progress">
                                                  <div class="progress-bar progress-bar wd-20p bg-teal"
                                                    role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                                  <div>
                                                  2 hrs
                                                  </td>
                                              <td><a  href="#" class="bg-teal tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo6">Reason</a></td>
                                            <td><a  href="#" class="bg-warning tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo3">Action</a></td>
                                            
                                            
                                            
                                          </tr>



                         <!----------------------7th row-------------------------->





                         <tr>
                                <td>Power supply disconnect</td>
                                <td>QA </td>
                                <td>TestBed1</td>
                                <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>88.18%</span> from last month</td>
              
                                <td>
                                  <div class="progress">
                                      <div class="progress-bar progress-bar wd-80p bg-teal"
                                        role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                      <div>
                                      8 hrs
                                      </td>
                                  <td><a  href="#" class="bg-teal tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo6">Reason</a></td>
                                <td><a  href="#" class="bg-warning tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo3">Action</a></td>
                                
                                
                                
                              </tr>

                           <!----------------------8th row-------------------------->


                           <tr>
                                <td>Power gone</td>
                                <td>QA </td>
                                <td>TestBed1</td>
                                <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>32.18%</span> from last month</td>
              
                                <td>
                                  <div class="progress">
                                      <div class="progress-bar progress-bar wd-80p bg-teal"
                                        role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                      <div>
                                      8 hrs
                                      </td>
                                  <td><a  href="#" class="bg-teal tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo6">Reason</a></td>
                                <td><a  href="#" class="bg-warning tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo3">Action</a></td>
                                
                                
                                
                              </tr>

                                <!----------------------9th row-------------------------->

                                <tr>
                                        <td>Heating issue</td>
                                        <td>QA </td>
                                        <td>TestBed1</td>
                                        <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>78.18%</span> from last month</td>
                      
                                        <td>
                                          <div class="progress">
                                              <div class="progress-bar progress-bar wd-60p bg-teal"
                                                role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                              <div>
                                              6 hrs
                                              </td>
                                          <td><a  href="#" class="bg-teal tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo6">Reason</a></td>
                                        <td><a  href="#" class="bg-warning tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo3">Action</a></td>
                                        
                                        
                                        
                                      </tr>



                                       <!----------------------10th row-------------------------->




                                       <tr>
                                            <td>Cooling issue</td>
                                            <td>QA </td>
                                            <td>TestBed1</td>
                                            <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>18.18%</span> from last month</td>
                          
                                            <td>
                                              <div class="progress">
                                                  <div class="progress-bar progress-bar wd-20p bg-teal"
                                                    role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                                  <div>
                                                  2 hrs
                                                  </td>
                                              <td><a  href="#" class="bg-teal tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo6">Reason</a></td>
                                            <td><a  href="#" class="bg-warning tx-white p-1 m-1" data-toggle="modal" data-target="#modaldemo3">Action</a></td>
                                            
                                            
                                            
                                          </tr>
    
    

			  
              </tbody>
            </table>
          </div><!-- table-wrapper -->




   
        </div><!-- br-section-wrapper -->
      </div><!-- br-pagebody -->
     <!-- <footer class="br-footer">
          <div class="footer-left">
            <div class="mg-b-2">Copyright &copy; 2019. Cyronics. All Rights Reserved.</div>
          
          </div>
         
        </footer>-->
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->

   <!--export modal code here-->
    <div id="modaldemo2" class="modal fade">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content tx-size-sm">
              <div class="modal-header pd-x-20 justify-content-center bg-gray-300 ">
              
                
               
                  <h6 class="tx-gray-800 tx-uppercase tx-bold tx-18 mg-b-10">RECOMMENDATION</h6>
                    
              </div>
            <div class="modal-body pd-20 wd-lg-900 ht-lg-500">
    
                    <iframe id="f1" src="report.pdf"  style="width: 100%; -webkit-overflow-scrolling: touch;"  class="col-sm-12 col-md-12 col-lg-12 col-sm-ht-600 mg-t-10 ht-lg-400"></iframe>
    
            </div><!-- modal-body -->
            <div class="modal-footer">
              <button type="button" class="btn btn-primary tx-size-xs" onclick="def()">Save Excel</button>
              <button type="button" class="btn btn-primary tx-size-xs" onclick="abc()">Save CSV</button>
    
              <button type="button" class="btn btn-danger tx-size-xs" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div><!-- modal-dialog -->
      </div><!-- modal -->
      <!--export modal code end here-->





<!----------------modal here-------------->


     <!-- MODAL GRID -->
     <div id="modaldemo6" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                <div class="modal-body pd-0">
                  <div class="row no-gutters">
                    <div class="col-lg-6 border border-danger bg-light">
                      <div class="pd-40">
                       <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-danger mg-b-20">Error / Warning Cause </h4>
                        </div>
                      </div><!-- col-6 -->
                      <div class="col-lg-6 bg-white">
                        <div class="pd-30">
                          <button type="button" class="close tx-danger tx-50" data-dismiss="modal" aria-label="Close" style="margin-top:-20px;">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <div class="pd-x-30 pd-y-10">
                           Chosen error cause :
                           <select class="form-control " data-placeholder="Choose Browser">
                                <option value="Firefox">Operator error</option>
                                <option value="Chrome">Testbed Error</option>
                                <option value="Safari">Parameter Error</option>
                                <option value="Opera">Sensor Error</option>
                                <option value="Internet Explorer">Machine Error</option>
                                <option value="Internet Explorer">Other</option>
                            </select>
                            <br>
                             
                            <div class="form-group">
                                 Please add Comments
                              <input class="form-control" placeholder="Details of Problem" type="textarea">
                            </div><!-- form-group -->
                             
                            <button class="btn btn-outline-danger pd-y-12 btn-block">Send for review </button>
                            <div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a></div>
                          </div>
                        </div><!-- pd-20 -->
                      </div><!-- col-6 -->
                    </div><!-- row -->
                  </div><!-- modal-body -->
                </div><!-- modal-content -->
              </div><!-- modal-dialog -->
            </div><!-- modal -->


            <!---------action modal here------------->


             <!-- MODAL GRID -->
             <div id="modaldemo3" class="modal fade">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                        <div class="modal-body pd-0">
                          <div class="row no-gutters">
                            <div class="col-lg-6 bg-teal">
                              <div class="pd-40">
                              <i class="icon ion-ios-checkmark-outline tx-100 tx-white lh-1 mg-t-20 d-inline-block"></i>
                        <h4 class="tx-white mg-b-20">Solution details accepted and verified as per required standards. </h4>
                                
                                
                               
                                </div>
                              </div><!-- col-6 -->
                              <div class="col-lg-6 bg-white">
                                <div class="pd-30">
                                  <button type="button" class="close tx-40 " data-dismiss="modal" aria-label="Close" style="color:red;margin-top:-20;">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                  <div class="pd-x-30 pd-y-10">
                                  <b>Solution Data :</br></b>
                                    <label class="ckbox">
                                      <input type="checkbox">
                                      <span>Parameter Readings</span>
                                    </label>
                                    <label class="ckbox">
                                      <input type="checkbox">
                                      <span>Digital Twin</span>
                                    </label>
                                    <label class="ckbox">
                                      <input type="checkbox">
                                      <span>Pictures</span>
                                    </label>
                                    <label class="ckbox">
                                      <input type="checkbox">
                                      <span>FAD Trend</span>
                                    </label><label class="ckbox">
                                      <input type="checkbox">
                                      <span>Report</span>
                                    </label>
                                                                    
                                    <div class="form-group">
                                        Solution Detials
                                      <input class="form-control" placeholder="Details of Solution" type="textarea">
                                    </div><!-- form-group -->
                                    
                                   
                                    <button class="btn btn-outline-teal pd-y-12 btn-block">Send for review </button>
    
                                    <div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a></div>
                                  </div>
                                </div><!-- pd-20 -->
                              </div><!-- col-6 -->
                            </div><!-- row -->
    
                          </div><!-- modal-body -->
                        </div><!-- modal-content -->
                      </div><!-- modal-dialog -->
                    </div><!-- modal -->


                    <div id="modal123" class="modal fade">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                              <div class="modal-header pd-y-20 pd-x-25 bg-warning">
                                  <h6 class="tx-14 mg-b-0 tx-uppercase  tx-bold tx-dark">Recommendation Model Guide</h6>
                                  <button type="button" class="close tx-danger tx-30" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                            <div class="modal-body pd-0">
                              <div class="row no-gutters">
                                <div class="col-lg-12 bg-light ">
                                  <div class="pd-40">
                                    
                                      <p class="tx-dark">1.Recommendation model is <b class="tx-danger"><u>keeping track of the downtime or errors</u></b> or failures occured in the past.</p>
                                      <p class="tx-dark">2.It records all possible parameters leading to that error.</p>
                                      <p class="tx-dark">3.Next time, the parameters are in that zone the Model prompts of possible failure.</p>
                                      <p class="tx-dark">4.It also keeps a track of all solutions and time required for these solution.Users are expected to manually enter the solutions for the first time to start the training of the model.</p>
                                      <p class="tx-dark">5.The Recommendations help in <b class="tx-danger"><u>AI driven decision making </u></b>! </p>
                                      <p class="tx-dark">For next page :</p>
                                      <p class="tx-dark">Please click on <font class="tx-primary">All projects</font> on the left sidebar</p>
                                    <button type="button" class="btn btn-primary tx-size-xs" data-dismiss="modal">Proceed</button>
                    
                                    </div>
                                  </div><!-- col-6 -->
                                  
                                </div><!-- row -->
                    
                              </div><!-- modal-body -->
                            </div><!-- modal-content -->
                          </div><!-- modal-dialog -->
                        </div><!-- modal -->

                    


                    <!--<script src="../lib/jquery/jquery.js"></script>
                    <script src="../lib/popper.js/popper.js"></script>
                    <script src="../lib/bootstrap/bootstrap.js"></script>
                    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
                    <script src="../lib/moment/moment.js"></script>
                    <script src="../lib/jquery-ui/jquery-ui.js"></script>
                    <script src="../lib/jquery-switchbutton/jquery.switchButton.js"></script>
                    <script src="../lib/peity/jquery.peity.js"></script>
                    <script src="../lib/highlightjs/highlight.pack.js"></script>
                    <script src="../lib/datatables/jquery.dataTables.js"></script>
                    <script src="../lib/datatables-responsive/dataTables.responsive.js"></script>
                    <script src="../lib/select2/js/select2.min.js"></script>
                    <script src="../lib/spectrum/spectrum.js"></script>
                    <script src="../lib/jquery.maskedinput/jquery.maskedinput.js"></script>
                    <script src="../lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
                    <script src="../lib/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
                    

                
                    <script src="../js/bracket.js"></script> -->
					
					
					<script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/highlightjs/highlight.pack.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/datatables/jquery.dataTables.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/select2/js/select2.min.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/spectrum/spectrum.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/jquery.maskedinput/jquery.maskedinput.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/ion.rangeSlider/js/ion.rangeSlider.min.js')}}"></script>

					
					<script src="{{ url_for('static', filename='js/bracket.js')}}"></script>                  
    


                   


                   
                    
                    <script>
                      $(window).on('load',function(){
        $('#modal123').modal('show');
    });
                      
                      $(function(){
        'use strict';

       

        $('#datatable2').DataTable({
          bLengthChange: true,
          searching: true,
          responsive: true
        });

        // Select2
        $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

      });
                      

                                
                                
                                
                                
                                
                                
                                
                                
                                
                                $(function(){

                            // showing modal with effect
                                    $('.modal-effect').on('click', function(){
                                        var effect = $(this).attr('data-effect');
                                    $('#modaldemo6').addClass(effect, function(){
                                    $('#modaldemo6').modal('show');
                                                        });
                                        return false;
                                    });

                            // hide modal with effect
                                                $('#modaldemo6').on('hidden.bs.modal', function (e) {
                                            $(this).removeClass (function (index, className) {
                                            return (className.match (/(^|\s)effect-\S+/g) || []).join(' ');
                                                            });
                                                            });
                                                    });





                                        $(function(){

                                                // showing modal with effect
                                                $('.modal-effect').on('click', function(){
                                                var effect = $(this).attr('data-effect');
                                                $('#modaldemo3').addClass(effect, function(){
                                                    $('#modaldemo3').modal('show');
                                                });
                                                return false;
                                                });

                                                // hide modal with effect
                                                $('#modaldemo3').on('hidden.bs.modal', function (e) {
                                                $(this).removeClass (function (index, className) {
                                                    return (className.match (/(^|\s)effect-\S+/g) || []).join(' ');
                                                });
                                                });
                                            });





                    function abc(){

                              var m="f2.csv";

                                document.getElementById("f1").src=m;
                                  }

                    function def(){
                              var m="M.xlsx";

                              document.getElementById("f1").src=m;
                                }

                                str1="Hi, user!";
                                document.getElementById("user").innerHTML=str1;


    </script>
  </body>
</html>



