<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Bracket Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css 
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">

    <!-- Bracket CSS 
    <link rel="stylesheet" href="../css/bracket.css">
  <link rel="stylesheet" href="../css/custom_css.css">
  <link rel="stylesheet" href="./css/css1.css">-->

	
	<!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_css.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/cust1.css')}}">
	
	
  </head>

  <body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span>[</span>Customer Logo<span>]</span></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
      <div class="br-sideleft-menu">
        <a href="table-datatable3.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>          
            <span class="menu-item-label">All Projects</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
       
        <a href="live1.html" class="br-menu-link ">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-pie-graph tx-24"></i>
            <span class="menu-item-label">Compressor Test</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="live1.html" class="nav-link">Test1</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link">Test2</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link active">Test3</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link ">Create New <i class=" fa fa-plus "></i></a></li>
          
        </ul>
  
  
  
  
        <a href="dashboard.html" class="br-menu-link active show-sub">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-stats-bars tx-24"></i>
            <span class="menu-item-label">Analytics</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="dashboard.html" class="nav-link">Dashboard</a></li>
          <li class="nav-item"><a href="testbed1.html" class="nav-link active">Digital Twin</a></li>
          <li class="nav-item"><a href="cal_cert.html" class="nav-link ">Calibration Certificate</a></li>
          <li class="nav-item"><a href="r_table.html" class="nav-link">Recommendation</a></li>
          <li class="nav-item"><a href="model.html" class="nav-link">Model</a></li>
          
        </ul>
        <a href="profile.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
            <span class="menu-item-label">Profile Setting</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
  
  
        <a href="contact.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon fa fa-phone  fa-2x tx-20"></i>
            <span class="menu-item-label">Contact Us</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        
        
        
        
        
       
  
      </div>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu"  href=""><i class="icon ion-navicon-round" ></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile"  href=""><i class="icon ion-navicon-round" ></i></a></div>
       
      </div><!-- br-header-left -->
      <div class="br-header-right">
        <div class="dropdown">
          <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
            <span class="logged-name hidden-md-down" id="user"></span>
            <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
            <span class="square-10 bg-success"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-200">
            <ul class="list-unstyled user-profile-nav">
            
             
              <li><a href="login.html"><i class="icon ion-power"></i> Sign Out</a></li>
            </ul>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
       </div>
     
    </div><!-- br-sideright -->
    <!-- ########## END: RIGHT PANEL ########## --->

    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
	<div class="ht-1 bd bg-gray-100 pd-x-15 d-flex align-items-center justify-content-between mg-t-20">
    </div><!-- ht-65 -->

      <div class="br-pagebody">
	  
	    
			
		<nav class="navbar navbar-expand-lg  navbar-dark bg-dark pd-x-10 pd-sm-x-20  pd-sm-t-10 ">   
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				 Views&nbsp;<span class="icon ion-grid"></span>
			</button>	
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">		
					<a href="testbed1.html" class="nav-item nav-link active navbar-custom-active">TestBed1</a>
					<a href="testbed2.html" class="nav-item nav-link navbar-font" >TestBed2</a>
					<a href="testbed3.html" class="nav-item nav-link navbar-font">TestBed3</a>
					<a href="testbed4.html" class="nav-item nav-link navbar-font">TestBed4</a>
					<a href="testbed5.html" class="nav-item nav-link navbar-font">TestBed5</a>
				</div>
			</div>
			<div class="btn-group pr-lg-5" role="group" >
				 <a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-play text-success" style="font-size:30px;" aria-hidden="true" data-toggle="modal" data-target="#modaldemo6"></i></a>
				 <a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-pause  text-warning" style="font-size:30px;" aria-hidden="true"data-toggle="modal" data-target="#modaldemo3"></i></a>
				 <a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-stop  text-danger" style="font-size:30px;" aria-hidden="true" data-toggle="modal" data-target="#modaldemo4"></i></a>
			</div>
			<div class="btn-group pl-lg-5" role="group" >
				<a href=""  class="btn btn-outline-light disabled"><span class="fa fa-chevron-left"></span></a>
				<a href="testbed2.html"  class="btn btn-outline-light "><i class="fa fa-chevron-right"></i></a>
			</div>
		</nav>
		       
			
		
		<div class="br-section-wrapper">
		<div class='pd-b-10'>
    <div><h6 class=" pd-b-10 tx-gray-800 tx-uppercase tx-bold tx-14 justify-content-left col-lg-8 col-md-8 col-sm-4 col-xl-8"><b>Digital Twin vs Actual Readings vs Tolerance</b></h6></div>
  <!-- <div class="br-header-right justify-content-end" style="margin-top:-35px;">Download</div></div>-->
    <div class="br-header-right justify-content-end" style="margin-top:-35px;" >
        <span class="switchToggle pd-b-10">
            <input type="checkbox" id="switch" onclick="containers(1)">
            <label for="switch">Toggle</label>
        </span></div>
		<div class="row">
		<div class='col-lg-6 col-md-12 border pd-5 '>
        <div><h6 style="color: #4285F4">Fad Vs Time(minutes)</h6><hr class="mg-t-1"></div>
		   <div id="container" style="height: 220px"></div>		
		</div><!--br-section-wrapper-->
		<div class='col-lg-6 col-md-12 border pd-5 '>
        <div><h6 style="color: #4285F4">Condensate Vs Time(minutes)</h6><hr class="mg-t-1"></div>
		   <div id="container1" style="height: 220px"></div>
		</div><!--br-section-wrapper-->
		</div>&nbsp;
		
		<div class="row">
		<div class='col-lg-6 col-md-12 border pd-5 '>
        <div><h6 style="color: #4285F4">Varation in  Readings(Minutes)</h6><hr class="mg-t-1"></div>
		   <div id="container2" style="height: 220px"></div>		
		</div><!--br-section-wrapper-->
		<div class='col-lg-6 col-md-12 border pd-5 '>
        <div><h6 style="color: #4285F4">Number of Alarms/Errors(minutes)</h6><hr class="mg-t-1"></div>
		   <div id="container3" style="height: 220px"></div>
		</div><!--br-section-wrapper-->
    </div>&nbsp;
    
    <div class="row">
        <div class='col-lg-6 col-md-12 border pd-5 '>
            <div><h6 style="color: #4285F4">Condensate Vs Time(minutes)</h6><hr class="mg-t-1"></div>
           <div id="container4" style="height: 220px"></div>		
        </div>
        </div>

		</div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->
  </div>
  <footer class="br-footer">
    <div class="footer-left">
      <div class="mg-b-2">Copyright &copy; 2019. Cyronics. All Rights Reserved.</div>
    
    </div>
   
  </footer>
	</div>


    <div id="modaldemo3" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
          <div class="modal-body pd-0">
            <div class="row no-gutters">
              <div class="col-lg-6 bg-warning">
                <div class="pd-40">
                  
                <i class="fa fa-pause-circle tx-70 tx-white lh-1 mg-t-80 d-inline-block"></i>
          <h4 class="tx-white mg-b-20">Reason for Pause. Please select the department according to reason </h4>
          
        
                  
                 
                  </div>
                </div><!-- col-6 -->
                <div class="col-lg-6 bg-white">
                  <div class="pd-30">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="pd-x-30 pd-y-10">
                    <b>Please Select Department :</br></b>
                      <label class="ckbox">
                        <input type="checkbox">
                        <span>Quality</span>
                      </label>
                      <label class="ckbox">
                        <input type="checkbox">
                        <span>Management</span>
                      </label>
                      <label class="ckbox">
                        <input type="checkbox">
                        <span>Misc</span>
                      </label>
                      <label class="ckbox">
                        <input type="checkbox">
                        <span>Alarms</span>
                      </label><label class="ckbox">
                        <input type="checkbox">
                        <span>Testbed error</span>
                      </label>
                                                      
                      <div class="form-group">
                          Reason for pause
                        <input class="form-control ht-100 border-warning" placeholder="Details of pause" type="textarea">
                      </div><!-- form-group -->
                      
                     
                      <button class="btn btn-outline-warning pd-y-12 btn-block">Send for review </button>

                      <div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a></div>
                    </div>
                  </div><!-- pd-20 -->
                </div><!-- col-6 -->
              </div><!-- row -->

            </div><!-- modal-body -->
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->



      <div id="modaldemo4" class="modal fade">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
              <div class="modal-body pd-0">
                <div class="row no-gutters">
                  <div class="col-lg-6 bg-danger">
                    <div class="pd-40">
                      
                    <i class="fa fa-stop-circle tx-70 tx-white lh-1 mg-t-80 d-inline-block"></i>
              <h4 class="tx-white mg-b-20">Reason for stop. Please select the department according to reason </h4>
              
            
                      
                     
                      </div>
                    </div><!-- col-6 -->
                    <div class="col-lg-6 bg-white">
                      <div class="pd-30">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="pd-x-30 pd-y-10">
                        <b>Please Select Department :</br></b>
                          <label class="ckbox">
                            <input type="checkbox">
                            <span>Quality</span>
                          </label>
                          <label class="ckbox">
                            <input type="checkbox">
                            <span>Management</span>
                          </label>
                          <label class="ckbox">
                            <input type="checkbox">
                            <span>Misc</span>
                          </label>
                          <label class="ckbox">
                            <input type="checkbox">
                            <span>Alarms</span>
                          </label><label class="ckbox">
                            <input type="checkbox">
                            <span>Testbed error</span>
                          </label>
                                                          
                          <div class="form-group">
                              Reason for stop
                            <input class="form-control ht-100 border-danger" placeholder="Details of stop" type="textarea">
                          </div><!-- form-group -->
                          
                         
                          <button class="btn btn-outline-danger pd-y-12 btn-block">Send for review </button>
  
                          <div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a></div>
                        </div>
                      </div><!-- pd-20 -->
                    </div><!-- col-6 -->
                  </div><!-- row -->
  
                </div><!-- modal-body -->
              </div><!-- modal-content -->
            </div><!-- modal-dialog -->
          </div><!-- modal -->




          <div id="modaldemo6" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                <div class="modal-body pd-0">
                  <div class="row no-gutters">
                    <div class="col-lg-6 bg-primary">
                      <div class="pd-40">
                        
                        <p class="tx-white tx-13">
                          <span class="tx-uppercase tx-medium d-block mg-b-15"><!--type here--></span>
                                              <h1 class="tx-white">[START TEST]</h1>
                          <span class="op-7 tx-white">Screw Compressor test-bed automation and analytics.</span></p>
                        </div>
                      </div><!-- col-6 -->
                      <div class="col-lg-6 bg-white">
                        <div class="pd-30">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <div class="pd-x-30 pd-y-10">
                            <b><h3 class="tx-inverse  mg-b-5">Welcome back!</h3></b>
                            <p>No active tests Found.Please enter details to continue.</p>
                            <br>
                            <div class="form-group">
                              <input type="text" id="tid"  name="email" class="form-control pd-y-12" placeholder="Enter Test ID" autocomplete="off">
                              <p id="em"></p>
                            </div><!-- form-group -->
                            <div class="form-group">
                              <input type="text" id="con" name="contact" class="form-control pd-y-12" placeholder="Enter QA Incharge">
                              <p id="cont"></p>
                            </div><!-- form-group -->
                            <div class="form-group mg-b-20">
                              <input type="password" id="pass"  name="password" class="form-control pd-y-12" placeholder="Enter Test Incharge">
                              <p id="ps"></p>
                              <!--<a href="" class="tx-12 d-block mg-t-10">Forgot password?</a>-->
                            </div><!-- form-group -->

                            <button class="btn btn-primary pd-y-12 btn-block"  onclick="validate();">START TEST</button>
                           
                            
                          </div>
                        </div><!-- pd-20 -->
                      </div><!-- col-6 -->
                    </div><!-- row -->

                  </div><!-- modal-body -->
                </div><!-- modal-content -->
              </div><!-- modal-dialog -->
            </div><!-- modal -->

        


            <div id="modal123" class="modal fade">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                      <div class="modal-header pd-y-20 pd-x-25 bg-warning">
                          <h6 class="tx-14 mg-b-0 tx-uppercase  tx-bold tx-dark">Digital Twin  Guide</h6>
                          <button type="button" class="close tx-danger tx-30" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                    <div class="modal-body pd-0">
                      <div class="row no-gutters">
                        <div class="col-lg-12 bg-light ">
                          <div class="pd-40">
                            
                              <p class="tx-dark">1.Recommendation model is <b class="tx-danger"><u>keeping track of the downtime or errors</u></b> or failures occured in the past.</p>
                              <p class="tx-dark">1.Digital Twin basically creates an ideal Paramater trend right through the test cycle.</p>
                              <p class="tx-dark">2.The digital Twin is the ideal values predicted by the <b class="tx-danger"><u>neural network</u></b> with the help of First time reports and least downtime tests.</p>
                              <p class="tx-dark">3.The neural network also takes into account the parameters causing downtime and automatically prompts if any of the parameters is edging towards that zone.</p>
                              <p class="tx-dark">4.The Digital Twin basically helps in <b class="tx-danger"><u>predicting possible failure or downtime during test</u></b> and a possible soultion for it.</p>
                              <p class="tx-dark">5.We usually record and train the Digital Twin over 1 quarter !</p>
                              <p class="tx-dark"> For next page :</p>
                              <p class="tx-dark">Please click on <font class="tx-primary">Analytics</font> on the left sidebar and then on <font class="tx-primary">Recommendation"</font></p>
                            <button type="button" class="btn btn-primary tx-size-xs" data-dismiss="modal">Proceed</button>
            
                            </div>
                          </div><!-- col-6 -->
                          
                        </div><!-- row -->
            
                      </div><!-- modal-body -->
                    </div><!-- modal-content -->
                  </div><!-- modal-dialog -->
                </div><!-- modal -->
  
  

    <!--<script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../lib/moment/moment.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="../lib/peity/jquery.peity.js"></script>

    <script src="../js/bracket.js"></script>
	
	      <script type="text/javascript" src="echarts_js/echarts.min.js"></script>
       <script type="text/javascript" src="echarts_js/echarts-gl.min.js"></script>
       <script type="text/javascript" src="echarts_js/ecStat.min.js"></script>
       <script type="text/javascript" src="echarts_js/dataTool.min.js"></script>
       <script type="text/javascript" src="echarts_js/china.js"></script>
       <script type="text/javascript" src="echarts_js/world.js"></script>
       <script type="text/javascript" src="echarts_js/bmap.min.js"></script>
       <script type="text/javascript" src="echarts_js/simplex.js"></script> -->
       
	   
	<script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>

    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>                  
    
	<script src="{{ url_for('static', filename='echarts_js/echarts.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/echarts-gl.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/ecStat.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/dataTool.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/china.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/bmap.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/simplex.js')}}"></script>                  
    
	   
	   
	   
       <script>

          $(window).on('load',function(){
                             $('#modal123').modal('show');
            });


       var FadVsTime = { xAxisDataFad :[0,1,2,3,4,5,6,7,8,9,10],
        ActualValueFad :[-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24],
        DigitalTwinFad :[-3,-3,-2,0,1,1.1,2,1,3,0,1],
        MaximumFad :[5,5,5,5,5,5,5,5,5,5,5],
        MinimumFad : [-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5],
       };
       
       var dom = document.getElementById("container");
       var myChart = echarts.init(dom);
       var app = {};
       option1 = null;
       option1= {
           responsive: true,
         
         title: {
               text: '',
               left: 0,
           textStyle:{
           fontSize : 15,
           color:'#4285F4',
           fontWeight :'normal',
           },
           },
       
           legend: {
                      right: 0,
                      data:['Actual Value','Digital Twin']
           },
           
           tooltip: {
               trigger: 'axis'
           },
           
           toolbox: {
               show: true,
           },
           xAxis: {
           
               type: 'category',
               boundaryGap: false,
               data: [0,1,2,3,4,5],      // xAxisDataFad
               show:true,
           axisLine: {onZero: false}
           },
           yAxis: {
               show:true,
           splitLine: {
                       show : false,
               },
           boundaryGap: false,
           },
           dataZoom: [{
               type: 'slider',
               filterMode: 'weakFilter',
               showDataShadow: false,
               top: 200,
               height: 10,
               borderColor: 'transparent',
               backgroundColor: '#e2e2e2',
               handleIcon: 'M10.7,11.9H9.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4h1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7v-1.2h6.6z M13.3,22H6.7v-1.2h6.6z M13.3,19.6H6.7v-1.2h6.6z', // jshint ignore:line
               handleSize: 20,
               handleStyle: {
                   shadowBlur: 6,
                   shadowOffsetX: 1,
                   shadowOffsetY: 2,
                   shadowColor: '#aaa'
               },
               labelFormatter: ''
           }, {
               type: 'inside',
               filterMode: 'weakFilter'
           }],
           series: [{
               type: 'line',
               smooth: true,
               data: []
           },
           {
               name: 'Actual Value',
               type: 'line',
               smooth: true,
               data: [-2,-2.5,-4,0,0.1,2],    //ActualValueFad
           color:'#ff4444',
           },
           {	name: 'Digital Twin',  
               type: 'line',
               smooth: true,
               data: [-3,-3,-2,0,1,2],  // DigitalTwinFad
           color:'#ffbb33',
           },
         {
                 name: 'Maximum',
                 type: 'line',
                         smooth: true,
                         color: 'rgba(0, 0, 0, 0.1)', 
                 symbolSize:0,				  
                 itemStyle: {
                 normal: {
                   areaStyle: {
                               type: 'default',
                               color: '#e0e0e0',
                   }
                 }
                 },
                 data: [5,5,5,5,5,5]           // MaximumFad
         },
         {
                 name: 'Minimum',
                 type: 'line',
                         smooth: true,
                         color: 'rgba(0, 0, 0, 0.1)', 
                 symbolSize:0,				  
                 itemStyle: {
                 normal: {
                   areaStyle: {
                               type: 'default',
                               color: '#e0e0e0',
                   }
                 }
                 },
                 data: [-5,-5,-5,-5,-5,-5]    // MinimumFad
         },
               ]
       };
       
       counter = 0
       function fad_vs_time(){
       
         if (option1 && typeof option1 === "object") {
                             myChart.setOption(option1, true);

         xaxis = [6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179,180];        
         actualval = [-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24];
         digitaltwin = [-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1];
         maxi  = [5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5];
         mini = [-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,] 
       
       
           option1.xAxis.data.push(xaxis[counter]);
           option1.series[1].data.push(actualval[counter]);
           option1.series[2].data.push(digitaltwin[counter]);
           option1.series[3].data.push(5);
           option1.series[4].data.push(-5);
             counter += 1; 
             console.log(option1.xAxis.data);  
             if(counter > 180){
               counter = 0;
             }
       }         
       }
       var fad_interval = setInterval(fad_vs_time,10000);
        </script>
       
       
       
       
        <!--************************************id container1 start here**********************************************************************-->
       
       
       
       
                <script type="text/javascript">
                
       var dom2 = document.getElementById("container1");
       var myChart2 = echarts.init(dom2);
       var app = {};
       option2 = null;
       option2 = {
           responsive: true,
         
         title: {
               text: '',
               left: 0,
           textStyle:{
           fontSize : 15,
           color:'#4285F4',
           fontWeight :'normal',
           },
           },
       
           legend: {
                      right: 0,
                      data:['Actual Value','Digital Twin']
           },
           
           tooltip: {
               trigger: 'axis'
           },
           
           toolbox: {
               show: true,
           },
           xAxis: {
           
               type: 'category',
               boundaryGap: false,
               data: [0,1,2,3,4,5],                            // condensate_xaxis_data
               show:true,
           axisLine: {onZero: false}
           },
           yAxis: {
               show:true,
           splitLine: {
                       show : false,
               },
           boundaryGap: false,
           },
           dataZoom: [{
               type: 'slider',
               filterMode: 'weakFilter',
               showDataShadow: false,
               top: 200,
               height: 10,
               borderColor: 'transparent',
               backgroundColor: '#e2e2e2',
               handleIcon: 'M10.7,11.9H9.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4h1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7v-1.2h6.6z M13.3,22H6.7v-1.2h6.6z M13.3,19.6H6.7v-1.2h6.6z', // jshint ignore:line
               handleSize: 20,
               handleStyle: {
                   shadowBlur: 6,
                   shadowOffsetX: 1,
                   shadowOffsetY: 2,
                   shadowColor: '#aaa'
               },
               labelFormatter: ''
           }, {
               type: 'inside',
               filterMode: 'weakFilter'
           }],
           series: [{
               type: 'line',
               smooth: true,
               data: []
           },
           {
               name: 'Actual Value',
               type: 'line',
               smooth: true,
               data: [-2,-2.5,-4,0,0.1,2],                              // condensate_ActualValue
           color:'#ff4444',
           },
           {	name: 'Digital Twin',  
               type: 'line',
               smooth: true,
               data: [-3,-3,-2,0,1,2],                                // condensate_Digital
           color:'#ffbb33',
           },
         {
                 name: 'Maximum',
                 type: 'line',
                         smooth: true,
                         color: 'rgba(0, 0, 0, 0.1)', 
                 symbolSize:0,				  
                 itemStyle: {
                 normal: {
                   areaStyle: {
                               type: 'default',
                               color: '#e0e0e0',
                   }
                 }
                 },
                 data: [5,5,5,5,5,5]                   // condensate_maximum
         },
         {
                 name: 'Minimum',
                 type: 'line',
                         smooth: true,
                         color: 'rgba(0, 0, 0, 0.1)', 
                 symbolSize:0,				  
                 itemStyle: {
                 normal: {
                   areaStyle: {
                               type: 'default',
                               color: '#e0e0e0',
                   }
                 }
                 },
                 data: [-5,-5,-5,-5,-5,-5]             // condensate_minimum
         },
               ]
       };
       
       counter2 = 0;
       function condensate_time(){
       if (option2 && typeof option2 === "object") {
           myChart2.setOption(option2, true);
       
         xaxis = [6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179,180];        
         actualval = [-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24];
         digitaltwin = [-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1];
         maxi  = [5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5];
         mini = [-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,] 
       
         option2.xAxis.data.push(xaxis[counter2]);
           option2.series[1].data.push(actualval[counter2]);
           option2.series[2].data.push(digitaltwin[counter2]);
           option2.series[3].data.push(5);
           option2.series[4].data.push(-5);
             counter2 += 1; 
             console.log(option2.xAxis.data);  
             if(counter2 > 180){
               counter2 = 0;
             }
           }
       }
       
       var condensate_interval = setInterval(condensate_time,1000);
              </script>
       
       
       
       <!--*********************************************id container2 start here************************************************************************-->
       
       
       
       
                <script type="text/javascript">
       var dom3 = document.getElementById("container2");
       var myChart3 = echarts.init(dom3);
       var app = {};
       option3 = null;
       option3= {
           responsive: true,
         
         title: {
               text: '',
               left: 0,
           textStyle:{
           fontSize : 15,
           color:'#4285F4',
           fontWeight :'normal',
           },
           },
           
           tooltip: {
               trigger: 'axis'
           },
       
           legend: {
                      right: 0,
                      data:['Actual Value','Digital Twin']
           },
           
           toolbox: {
               show: true,
           },
           xAxis: {
           
               type: 'category',
               boundaryGap: false,
               data: [0,1,2,3,4,5],                            //variation_xaxis
               show:true,
           axisLine: {onZero: false}
           },
           yAxis: {
               show:true,
           splitLine: {
                       show : false,
               },
           boundaryGap: false,
           },
           dataZoom: [{
               type: 'slider',
               filterMode: 'weakFilter',
               showDataShadow: false,
               top: 200,
               height: 10,
               borderColor: 'transparent',
               backgroundColor: '#e2e2e2',
               handleIcon: 'M10.7,11.9H9.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4h1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7v-1.2h6.6z M13.3,22H6.7v-1.2h6.6z M13.3,19.6H6.7v-1.2h6.6z', // jshint ignore:line
               handleSize: 20,
               handleStyle: {
                   shadowBlur: 6,
                   shadowOffsetX: 1,
                   shadowOffsetY: 2,
                   shadowColor: '#aaa'
               },
               labelFormatter: ''
           }, {
               type: 'inside',
               filterMode: 'weakFilter'
           }],
           series: [{
               type: 'line',
               smooth: true,
               data: [] 
           },
           {
               name: 'Actual Value',
               type: 'line',
               smooth: true,
               data: [-2,-2.5,-4,0,0.1,2],                        //variation_Actual_value
           color:'#ff4444',
           },
           {	name: 'Digital Twin',  
               type: 'line',
               smooth: true,
               data: [-3,-3,-2,0,1,2],                           //variation_digital_twin
           color:'#ffbb33',
           },
         {
                 name: 'Maximum',
                 type: 'line',
                         smooth: true,
                         color: 'rgba(0, 0, 0, 0.1)', 
                 symbolSize:0,				  
                 itemStyle: {
                 normal: {
                   areaStyle: {
                               type: 'default',
                               color: '#e0e0e0',
                   }
                 }
                 },
                 data: [5,5,5,5,5,5]                                //variation_maximum
         },
         {
                 name: 'Minimum',
                 type: 'line',
                         smooth: true,
                         color: 'rgba(0, 0, 0, 0.1)', 
                 symbolSize:0,				  
                 itemStyle: {
                 normal: {
                   areaStyle: {
                               type: 'default',
                               color: '#e0e0e0',
                   }
                 }
                 },
                 data: [-5,-5,-5,-5,-5,-5]                                      // variation_minimum
         },
               ]
       };
       
       counter3 = 0;
       function variation_time(){
       if (option3 && typeof option3 === "object") {
           myChart3.setOption(option3, true);
       
         xaxis = [6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179,180];        
         actualval = [-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24];
         digitaltwin = [-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1];
         maxi  = [5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5];
         mini = [-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,] 
       
         option3.xAxis.data.push(xaxis[counter2]);
           option3.series[1].data.push(actualval[counter2]);
           option3.series[2].data.push(digitaltwin[counter2]);
           option3.series[3].data.push(5);
           option3.series[4].data.push(-5);
             counter3 += 1; 
             console.log(option3.xAxis.data);  
             if(counter3 > 180){
               counter3 = 0;
       
           }
         }
       } 
       var variation_interval = setInterval(variation_time,1000);
       </script>
       
       
       <!--**********************************************id container3 start here************************************************************************-->
       
                <script type="text/javascript">
       var dom4 = document.getElementById("container3");
       var myChart4 = echarts.init(dom4);
       var app = {};
       option4 = null;
       option4= {
           responsive: true,
         
         title: {
               text: '',
               left: 0,
           textStyle:{
           fontSize : 15,
           color:'#4285F4',
           fontWeight :'normal',
           },
           },
           
           tooltip: {
               trigger: 'axis'
           },
       
           legend: {
                      right: 0,
                      data:['Actual Value','Digital Twin']
           },
           
           toolbox: {
               show: true,
           },
           xAxis: {
           
               type: 'category',
               boundaryGap: false,
               data: [0,1,2,3,4,5],                            //variation_xaxis
               show:true,
           axisLine: {onZero: false}
           },
           yAxis: {
               show:true,
           splitLine: {
                       show : false,
               },
           boundaryGap: false,
           },
           dataZoom: [{
               type: 'slider',
               filterMode: 'weakFilter',
               showDataShadow: false,
               top: 200,
               height: 10,
               borderColor: 'transparent',
               backgroundColor: '#e2e2e2',
               handleIcon: 'M10.7,11.9H9.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4h1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7v-1.2h6.6z M13.3,22H6.7v-1.2h6.6z M13.3,19.6H6.7v-1.2h6.6z', // jshint ignore:line
               handleSize: 20,
               handleStyle: {
                   shadowBlur: 6,
                   shadowOffsetX: 1,
                   shadowOffsetY: 2,
                   shadowColor: '#aaa'
               },
               labelFormatter: ''
           }, {
               type: 'inside',
               filterMode: 'weakFilter'
           }],
           series: [{
               type: 'line',
               smooth: true,
               data: [] 
           },
           {
               name: 'Actual Value',
               type: 'line',
               smooth: true,
               data: [-2,-2.5,-4,0,0.1,2],                        //variation_Actual_value
           color:'#ff4444',
           },
           {	name: 'Digital Twin',  
               type: 'line',
               smooth: true,
               data: [-3,-3,-2,0,1,2],                           //variation_digital_twin
           color:'#ffbb33',
           },
         {
                 name: 'Maximum',
                 type: 'line',
                         smooth: true,
                         color: 'rgba(0, 0, 0, 0.1)', 
                 symbolSize:0,				  
                 itemStyle: {
                 normal: {
                   areaStyle: {
                               type: 'default',
                               color: '#e0e0e0',
                   }
                 }
                 },
                 data: [5,5,5,5,5,5]                                //variation_maximum
         },
         {
                 name: 'Minimum',
                 type: 'line',
                         smooth: true,
                         color: 'rgba(0, 0, 0, 0.1)', 
                 symbolSize:0,				  
                 itemStyle: {
                 normal: {
                   areaStyle: {
                               type: 'default',
                               color: '#e0e0e0',
                   }
                 }
                 },
                 data: [-5,-5,-5,-5,-5,-5]                                      // variation_minimum
         },
               ]
       };
       
       
       counter5 = 0;
       function alarm_error(){
       if (option4 && typeof option4 === "object") {
           myChart4.setOption(option4, true);
       
         xaxis = [6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179,180];        
         actualval = [-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24];
         digitaltwin = [-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1];
         maxi  = [5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5];
         mini = [-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,] 
       
           option4.xAxis.data.push(xaxis[counter5]);
           option4.series[1].data.push(actualval[counter5]);
           option4.series[2].data.push(digitaltwin[counter5]);
           option4.series[3].data.push(5);
           option4.series[4].data.push(-5);
             counter5 += 1; 
             console.log(option4.xAxis.data);  
             if(counter5 > 180){
               counter5 = 0;
       
           }
       
       
           }
         } 
         var alarm_error_interval = setInterval(alarm_error,1000);
              </script>
       
       
       <!---*********************************************************id container4 start here********************************************-->
       
       <script type="text/javascript">
                
         var dom5 = document.getElementById("container4");
         var myChart5 = echarts.init(dom5);
         var app = {};
         option5 = null;
         option5 = {
             responsive: true,
           
           title: {
                 text: '',
                 left: 0,
             textStyle:{
             fontSize : 15,
             color:'#4285F4',
             fontWeight :'normal',
             },
             },
             
             tooltip: {
                 trigger: 'axis'
             },
             
             toolbox: {
                 show: true,
             },
             xAxis: {
             
                 type: 'category',
                 boundaryGap: false,
                 data: [0,1,2,3,4,5],                            // condensate_xaxis_data
                 show:true,
             axisLine: {onZero: false}
             },
             yAxis: {
                 show:true,
             splitLine: {
                         show : false,
                 },
             boundaryGap: false,
             },
             dataZoom: [{
         type: 'slider',
         filterMode: 'weakFilter',
         showDataShadow: false,
         top: 200,
         height: 10,
         borderColor: 'transparent',
         backgroundColor: '#e2e2e2',
         handleIcon: 'M10.7,11.9H9.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4h1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7v-1.2h6.6z M13.3,22H6.7v-1.2h6.6z M13.3,19.6H6.7v-1.2h6.6z', // jshint ignore:line
         handleSize: 20,
         handleStyle: {
             shadowBlur: 6,
             shadowOffsetX: 1,
             shadowOffsetY: 2,
             shadowColor: '#aaa'
         },
         labelFormatter: ''
       }, {
         type: 'inside',
         filterMode: 'weakFilter'
       }],
       legend: {
                right: 0,
                data:['Actual Value','Digital Twin']
       },
             series: [{
                 type: 'line',
                 smooth: true,
                 data: []
             },
             {
                 name: 'Actual Value',
                 type: 'line',
                 smooth: true,
                 data: [-2,-2.5,-4,0,0.1,2],                              // condensate_ActualValue
             color:'#ff4444',
             },
             {	name: 'Digital Twin',  
                 type: 'line',
                 smooth: true,
                 data: [-3,-3,-2,0,1,2],                                // condensate_Digital
             color:'#ffbb33',
             },
           {
                   name: 'Maximum',
                   type: 'line',
                           smooth: true,
                           color: 'rgba(0, 0, 0, 0.1)', 
                   symbolSize:0,				  
                   itemStyle: {
                   normal: {
                     areaStyle: {
                                 type: 'default',
                                 color: '#e0e0e0',
                     }
                   }
                   },
                   data: [5,5,5,5,5,5]                   // condensate_maximum
           },
           
           {
                   name: 'Minimum',
                   type: 'line',
                           smooth: true,
                           color: 'rgba(0, 0, 0, 0.1)', 
                   symbolSize:0,				  
                   itemStyle: {
                   normal: {
                     areaStyle: {
                                 type: 'default',
                                 color: '#e0e0e0',
                     }
                   }
                   },
                   data: [-5,-5,-5,-5,-5,-5]             // condensate_minimum
           },
                 ]
         };
         
         counter6 = 0;
         function testbed_x1(){
         if (option5 && typeof option5 === "object") {
             myChart5.setOption(option5, true);
         
           xaxis = [6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179,180];        
           actualval = [-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24,-2,-2.5,-4,0,0.1,2,2,2.1,1.22,3.23,0.24];
           digitaltwin = [-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1,-3,-3,-2,0,1,1.1,2,1,3,0,1];
           maxi  = [5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5];
           mini = [-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,-5,] 
         
           option5.xAxis.data.push(xaxis[counter6]);
             option5.series[1].data.push(actualval[counter6]);
             option5.series[2].data.push(digitaltwin[counter6]);
             option5.series[3].data.push(5);
             option5.series[4].data.push(-5);
               counter6 += 1;   
               if(counter6 > 180){
                 counter6 = 0;
               }
             }
         }
         
         var testbedx1_interval = setInterval(testbed_x1,1000);
                </script>
        
        
        
        <!--*********************************************id container4 end here************************************************************************-->
        
        <!--************************************************--ON & OFF Button Function Triggre from here **********************-->

        <script>

          arg_fad = 0;
          function containers(arg){
                arg_fad += arg;
                if(arg_fad %2 === 1){
                        clearInterval(fad_interval);
                        clearInterval(condensate_interval);
                        clearInterval(variation_interval);
                        clearInterval(alarm_error_interval);
                        clearInterval(testbedx1_interval);
                        
                }else{
                        fad_interval = setInterval(fad_vs_time,1000);
                        condensate_interval = setInterval(condensate_time,1000);
                        variation_interval = setInterval(variation_time,1000);
                        alarm_error_interval =setInterval(alarm_error,1000);
                        testbedx1_interval =setInterval(testbed_x1,1000);
                }
      
          }
           </script>



	   </body>
<script>
 str1="Hi, user !";
       document.getElementById("user").innerHTML=str1;
</script>
</html>
